<table class="table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Column Heading</th>
      <th scope="col">Column Heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Row heading</th>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <th scope="row">Row heading</th>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
<table>