# OS Cruft
**/.DS_Store

# Never ever check 'em in.
**/*.env
package-lock.json
*.log
npm-debug.*
*.scssc
*.log
*.swp
.sass-cache
.cache

# XML import files
import/*.xml

# Node modules and output
node_modules
_site
_src/_includes/css

# Generated 
_src/scss/_tokens.scss
_src/scss/_themes.scss

# public_html files OTHER than our plugins and theme.
public_html/*.*
public_html/wp-includes
public_html/wp-admin
public_html/wp-content/uprgade*
public_html/wp-content/uploads

public_html/wp-content/plugins/akismet
public_html/wp-content/plugins/index.php
public_html/wp-content/plugins/hello.php

public_html/wp-content/themes/index.php
public_html/wp-content/themes/twenty*
public_html/wp-content/debug.log
public_html/wp-content/backups