# OS Cruft
**/.DS_Store

# Never ever check 'em in.
**/*.env

# public_html files OTHER than our plugins and theme.
public_html/*.*
public_html/wp-includes
public_html/wp-admin
public_html/wp-content/uprgade
public_html/wp-content/uploads

public_html/wp-content/plugins/akismet
public_html/wp-content/plugins/index.php
public_html/wp-content/plugins/hello.php

public_html/wp-content/themes/index.php
public_html/wp-content/themes/twenty*

# Don't include the vendor directory for now, let composer handle it.
# We might push this later.
public_html/wp-content/themes/cumminggroup/vendor
