<details {{default}}>
  <summary>When I submit my resume on your website, where does it go?</summary>
  <div>
    <p>After a resume submission, your information is automatically stored in our applicant tracking system (ATS). Workday is our ATS vendor. They have great candidate-focused information on their site here.</p>
  </div>
</details>