{% extends "single/office-portfolio.twig" %}

{% block posthero %}
  {% if post.projects | length %}
  <div class="region region-primary wrapper">
  {% include "partial/project-grid.twig" with { items: post.projects(), sectors: true, services: true } %}
  </div>
  {% endif %}
{% endblock %}

