{% extends "single/default.twig" %}
{% set pagetitle = title ? title : post.title %}


{% block hero %}
<h1 class="type-pagehed hed-accent">{{ pagetitle }}{% if post.location %}, {{ post.location }}{% endif %}</h1>
{% endblock %}


{% block content %}
  <div class="grid region addresses-header">
    {% include 'fields/office-locations.twig' with { city: post } %}
  </div>
{% endblock %}


{% block posthero %}
  {% if post.nearby_projects(6) | length %}
  <div class="region region-primary wrapper">
  {% include "partial/project-gallery.twig" with { heading: "Representative Experience", items: post.nearby_projects(6), sectors: true, services: true, utilities: "bg-timeless-backdrop" } %}
  {% if post.project_count > 6 %}
    {% include "partial/link-to-archive.twig" with { link: 'portfolio', title: 'Visit Full Portfolio' } %}
  {% endif %}
  </div>
  {% endif %}

  {% if post.leadership | length %}
  <div class="region wrapper">
  {% include "partial/person-list.twig" with { heading: pagetitle ~ " Team", items: post.leadership, utilities: "bg-timeless-backdrop", sectors: true, contact: true, bio_link: true } %}
  </div>
  {% endif %}

  {% if post.nearby_news(6) | length %}  
  <div class="region wrapper">
  {% include "partial/related-news-list.twig" with { heading: "Related News", items: post.nearby_news(6) } %}
  {% include "partial/link-to-archive.twig" with { link: '/news-insights', title: 'Visit News + Insights' | stylize } %}
  </div>
  {% endif %}

  {% if post.nearby_offices %}
  {% include "partial/nearby-offices.twig" with { heading: 'Nearby Offices' } %}
  {% endif %}

{% endblock %}
