{% extends "single/default.twig" %}
{% set pagetitle = (title ? title : post.title) | stylize %}

{% block hero %}
  <h1 class="type-pagehed hed-accent">{{ pagetitle }}</h1>
{% endblock %}

{% block sidebar %}
{% if settings.sector_contact_form %}
<div class="inline-form flow bg-timeless-backdrop">
{{ settings.sector_contact_form | gravityform(false, true) }}
</div>
{% endif %}
{% endblock %}



{% block floatingsidebar %}
{%- include 'partial/hero-notch-details.twig' -%}
{% endblock %}


{% block posthero %}
  {% if post.projects(6) | length %}
  <div class="region region-primary wrapper">
  {% include "partial/project-gallery.twig" with { heading: "Representative Experience", items: post.projects, offices: true, services: true, utilities: "bg-timeless-backdrop" } %}
  {% if post.project_count > 6 %}
    {% include "partial/link-to-archive.twig" with { link: 'portfolio', title: 'Visit Full Portfolio' } %}
  {% endif %}
  </div>
  {% endif %}

  {% if post.leadership | length %}
  <div class="region wrapper">
  {% include "partial/person-list.twig" with { heading: pagetitle ~ " Leadership", items: post.people, utilities: "bg-timeless-backdrop"} %}
  </div>
  {% endif %}

  {% if post.related_news(6) | length %}
  <div class="region region-primary wrapper">
  {% include "partial/related-news-list.twig" with { heading: "Related News", items: post.related_news(6) } %}
  {% include "partial/link-to-archive.twig" with { link: '/news-insights', title: 'Visit News + Insights' | stylize } %}
  </div>
  {% endif %}
{% endblock %}
