{% extends "base.twig" %}
{% block hero %}
	<h1 class="type-pagehed hed-accent">404 Not Found</h1>
{% endblock %}
{% block content %}
	<div class="prose">
		<p class="is-style-lede-header">Sorry, we couldn't find what you're looking for.</p>
	</div>
{% endblock %}