{% extends "base.twig" %}
{% set pagetitle = title ? title : post.title %}

{% block hero %}
{% endblock %}

{% block content %}
	<div class="flow central-inner prose">
		{{post.content}}
	</div>
{% endblock %}