{% extends "base.twig" %}
{% block content %}
<div class="wrapper">
	{% for post in posts %}
		{% include ['listing-'~post.post_type~'.twig', 'listing.twig'] %}
	{% endfor %}
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
</div>
{% endblock %}
