{% extends "base.twig" %}
{% set pagetitle = (title ? title : post.title) | stylize %}


{% block hero %}
	{% if post.subhead %}
	<h1 class="type-pagehed">{{ pagetitle }}</h1>
	<div class="lede-header hed-accent">
		<div class="hgroup">
			<span class="subhed">{{ post.subhead }}</span>
		</div>
	</div>
	{% else %}
	<h1 class="type-pagehed hed-accent">{{ pagetitle }}</h1>
	{% endif %}
{% endblock %}


{% block floatingsidebar %}
{%- include 'partial/hero-notch-details.twig' -%}
{% endblock %}


{% block content %}
	<div class="flow central-inner prose">
		{{post.content}}
	</div>
{% endblock %}