{% extends "base.twig" %}

{% block hero %}
	{% set pagetitle = title ? title : post.title %}
	<h1 class="type-pagehed hed-accent">{{ pagetitle | stylize }}</h1>
{% endblock %}

{% block content %}
	{{post.content}}
{% endblock %}