{% extends "base.twig" %}

{% block hero %}
	{% set pagetitle = title ? title : post.title %}
	<h1 class="type-pagehed hed-accent">{{ pagetitle | stylize }}</h1>
	<div class="lede-header">
    <p>
      FPO: Cumming Group and its team members support and engage with a wide
      variety of industry and community organizations. We do this by
      becoming members and/or assuming leadership positions in these
      organizations, attending trade shows and conferences,
      participating on expert panels, providing sponsorship and
      promotional support to various causes and activities, and even
      hosting our own events — all with a mind of giving back to the
      communities, organizations, and people who have helped us and so
      many others along the way.
    </p>
  </div>
{% endblock %}

{% block content %}
	{{post.content}}
{% endblock %}