{% extends "base.twig" %}

{% block content %}
	<div class="lede-header">
		{# <p class="lede">byline</p> #}
	</div>
	<div class="sidebar">
		<div class="prose flow">
			{{post.content}}
		</div>
	</div>
{% endblock %}
