{% extends "single.twig" %}
{% set pagetitle = title ? title : post.title %}


{% block hero %}
  <h1 class="type-pagehed hed-accent">{{ pagetitle }}</h1>
{% endblock %}


{% block floatingsidebar %}
{%- include 'partial/hero-notch-details.twig' -%}
{% endblock %}


{% block sidebar %}
  <div class="hero-sidebar">
    <div class="flow">
      {% include "fields/project-facts.twig" %}
    </div>
  </div>
{% endblock %}


{% block posthero %}
{% set gallery = post.meta('gallery') %}
<div class="region region-primary">
{% if gallery %}{% include "fields/gallery.twig" with { images: gallery } %}{% endif %}
</div>
{% endblock %}
