{% extends "single.twig" %}

{% block hero %}
{% set pagetitle = title ? title : post.title %}
<h1 class="type-pagehed hed-accent">{{ pagetitle }}</h1>
{% endblock %}

{% block content %}
  <div class="lede-header">
    {# <p class="lede">byline</p> #}
  </div>
  <div class="sidebar">
    <div class="prose lede flow">
      {{post.content}}
    </div>
  </div>
{% endblock %}

{% block posthero %}

  {% if post.projects | length %}
  {% include "partial/project-gallery.twig" with { heading: "Representative Experience", items: post.projects, sectors: true, services: true, limit: 6 } %}
  {% endif %}


  {% if post.people | length %}
  <div class="region">
  {% include "partial/person-list.twig" with { heading: pagetitle ~ " Team", items: post.people } %}
  </div>
  {% endif %}

{% endblock %}

