{% extends "base.twig" %}

{% block content %}
	<div class="wrapper region region-primary">
		<div class="lede-header">
			<p class="lede">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		</div>
	</div>
	<div class="sidebar">
		<div class="flow">
			{{post.content}}
		</div>
	</div>
{% endblock %}
