{% extends "single.twig" %}

{% block content %}
	<div class="prose prose-primary region flow">
		{{post.content}}
	</div>
  <div>
    {% include "fields/project-facts.twig" %}
  </div>
  {% set gallery = post.meta('gallery') %}
  {% if gallery %}
    {% include "fields/gallery.twig" with { images: gallery } %}
  {% endif %}
{% endblock %}
