{% extends "single.twig" %}

{% block hero %}
<time datetime="{{post.date('Y-m-d')}}">{{post.date}}</time>
{% set pagetitle = title ? title : post.title %}
<h1 class="type-pagehed hed-accent">{{ pagetitle }}</h1>
{% endblock %}
