{% extends "single.twig" %}

{% block content %}
	<div class="prose prose-primary region flow">
		{{post.content}}
	</div>
  <div>
    {% include "fields/project-facts.twig" %}
  </div>
  <div>
    {% include "fields/gallery.twig" %}
  </div>
{% endblock %}
