{% extends "single.twig" %}
{% set pagetitle = (title ? title : post.title) | stylize %}

{% block hero %}

<h1 class="type-pagehed hed-accent">{{ pagetitle }}</h1>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block posthero %}
  {% if post.projects | length %}
  <div class="region wrapper">
    <h2 class="type-hed hed-accent">Representative Experience</h2>
  </div>
  {% include "partial/project-gallery.twig" with { items: post.projects, sectors: true, offices: true, limit: 6 } %}
  {% endif %}

  {% if post.people | length %}
  <div class="region">
  {% include "partial/person-list.twig" with { heading: pagetitle ~ " Leadership", items: post.people } %}
  </div>
  {% endif %}

{% endblock %}
