{% extends "single.twig" %}
{% set pagetitle = (title ? title : post.title) | stylize %}


{% block hero %}
  <h1 class="type-pagehed hed-accent">{{ pagetitle }}</h1>
{% endblock %}


{% block sidebar %}
{% endblock %}


{% block posthero %}
  {% if post.projects(6) | length %}
  <div class="region wrapper">
  {% include "partial/project-gallery.twig" with { heading: "Representative Experience", items: post.projects, offices: true, sectors: true, utilities: "bg-timeless-backdrop" } %}
  </div>
  {% endif %}

  {% if post.people | length %}
  <div class="region wrapper">
  {% include "partial/person-list.twig" with { heading: pagetitle ~ " Leadership", items: post.people } %}
  </div>
  {% endif %}
{% endblock %}
