{% extends "base.twig" %}

{% block content %}
	<div class="lede-header">
		{# <p class="lede">byline</p> #}
	</div>
	<div class="prose prose-primary region flow">
		{{post.content}}
	</div>
{% endblock %}
