<div class="toggle">
  <button class="button unset" role="button" data-toggle data-toggle-group="{{ group }}" aria-expanded="false">Exclusive Toggle</button>
  <div aria-hidden="true">
    <p>Revealed content</p>
  </div>
</div>
<div class="toggle">
  <button class="button unset" role="button" data-toggle data-toggle-group="{{ group }}" aria-expanded="false">Exclusive Toggle</button>
  <div aria-hidden="true">
    <p>Revealed content</p>
  </div>
</div>
<div class="toggle">
  <button class="button unset" role="button" data-toggle aria-expanded="false">Toggle</button>
  <div aria-hidden="true">
    <p>Revealed content</p>
  </div>
</div>
<div class="toggle">
  <button class="button unset" role="button" data-toggle data-toggle-group="{{ group }}" aria-expanded="false">Exclusive Toggle</button>
  <div aria-hidden="true">
    <p>Revealed content</p>
  </div>
</div>