/* NOTE:
`@import` from an external server.is a performance antipattern, and should not be done in a production environment. */

/*
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,200b,400,400i,400b,600,600i,600b,700,700i,700b,900,900i,900b&display=swap"); */

@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-ExtraLight.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-ExtraLightIt.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-ExtraLightIt.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-Regular.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-It.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-It.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-Semibold.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-SemiboldIt.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-Bold.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-BoldIt.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-BoldIt.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-Black.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans/sourcesans-BlackIt.woff2') format('woff2'),
    url('../fonts/SourceSans/sourcesans-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Thin.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Regular.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Semibold.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Bold.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Black.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-ExtraLight.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Thin.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Regular.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Semibold.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Bold.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlex/IBMPlexSans-Black.woff2') format('woff2'),
    url('../fonts/IBMPlex/IBMPlexSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Utopia';
  src: url('../fonts/Utopia/UtopiaRegular/font.woff2') format('woff2'),
    url('../fonts/Utopia/UtopiaRegular/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Utopia';
  src: url('../fonts/Utopia/UtopiaItalic/font.woff2') format('woff2'),
    url('../fonts/Utopia/UtopiaItalic/font.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Utopia';
  src: url('../fonts/Utopia/UtopiaSemibold/font.woff2') format('woff2'),
    url('../fonts/Utopia/UtopiaSemibold/font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Utopia';
  src: url('../fonts/Utopia/UtopiaSemibolditalic/font.woff2') format('woff2'),
    url('../fonts/Utopia/UtopiaSemibolditalic/font.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Utopia';
  src: url('../fonts/Utopia/UtopiaBold/font.woff2') format('woff2'),
    url('../fonts/Utopia/UtopiaBold/font.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Utopia';
  src: url('../fonts/Utopia/UtopiaBoldItalic/font.woff2') format('woff2'),
    url('../fonts/Utopia/UtopiaBoldItalic/font.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

