/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  display: flex;
  flex-direction: column;
  color: var(--color-steel-shade);
  background: var(--color-light);
  font-size: var(--size-step-1);
  font-family: sans-serif;
  font-family: var(--font-body);
  line-height: 1.4;
  letter-spacing: var(--tracking-normal);
  min-height: 100vh;
}

/* Fill remaining space with main to push footer to bottom on short pages */
main {
  flex-grow: 2;
  max-width: 100vw;
  overflow: hidden;
}

/* Base typesetting */
h1,
h2,
h3 {
  font-weight: var(--weight-medium);
  line-height: 1;
  text-wrap: pretty;
}

h1 {
  font-size: var(--size-step-5);
}
h2 {
  font-size: var(--size-step-4);
}
h3 {
  font-size: var(--size-step-3);
}
h4 {
  font-size: var(--size-step-2);
}
h5 {
  font-size: var(--size-step-1);
}
p {
  font-weight: var(--weight-light);
  line-height: var(--leading-normal);
  font-size: var(--size-step-0);
}

/* Set line lengths */
p,
blockquote:not([class]) {
  max-width: 100ch;
}

/* More generic elements */
blockquote:not([class]) {
  font-size: var(--size-step-2);
}

svg {
  width: auto;
  max-width: 100%;
  height: auto;
  flex: none;
}

[role='list'] {
  padding: 0;
}

/* Base interactive elements */

/* Set default form accent color to brand color */
body {
  accent-color: var(--color-regal-purple);
}

a {
  color: currentcolor;
  transition: .125s all ease-in-out;
}
a:hover {
  text-decoration: none;
}
a.thumb {
  text-decoration: none;
}

:focus-visible {
  outline: 2px solid;
  outline-offset: 0.3ch;
  outline-color: var(--color-legacy-red);
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

hr:not([class]),
hr.wp-block-separator:not(.is-style-dots):not(.is-style-wide) {
  background: var(--color-steel-highlight);
  border: none;
  height: 1px;
  width: 100%;
}
hr.is-style-wide {
  margin-block: var(--space-3xl) 0;
  background: var(--color-timeless-gold);
  border: none;
  height: var(--space-m-l);
  & + .region {
    padding-block-start: var(--space-2xs);
  }
}

.cg hr.is-style-wide {
  transform: translateX(-50vw);
  width: calc( 100% + 50vw + var(--space-s-m ) );
}
hr.is-style-dots {
  color: var(--color-timeless-gold);
  font-size: var(--size-step-2);
}
[class*="bg-timeless-backdrop"],
[class*="bg-timeless-highlight"] {
  hr {
    background: var(--color-timeless-gold);
  }
}
[class*="bg-legacy-red"],
[class*="bg-regal-purple"],
[class*="bg-deep-steel"],
[class*="bg-steel-shade"] {
  hr {
    background: rgba(255,255,255,.125);
  }
}



fieldset {
  border: var(--stroke);
  padding-inline: var(--space-xs);
  legend {
    padding-inline: var(--space-3xs);
    margin: 0 0 0 calc( 0px - var(--space-3xs) );
  }
}


/* Base selection styles*/
::selection {
  background: var(--selection);
  color: var(--color-steel-shade);
}

[class*="bg-legacy-red"],
[class*="bg-steel-shade"],
[class*="bg-deep-steel"],
[class*="bg-regal-purple"] {
  --selection: var(--color-regal-purple);
  --selection-color: var(--color-timeless-backdrop);
}
[class*="bg-regal-purple"] {
  --selection: var(--color-steel-shade);
}


pre ::selection {
  background: var(--selection);
  color: var(--color-steel-shade);
}


@supports( color: color-mix(in srgb, red, white) ) {
  .bg-timeless-backdrop .text-timeless-gold {
    color: color-mix(in srgb, var(--color-timeless-gold) 90%, black);
  }
}