
[class*="icon-"] {
  display: flex;
  flex-direction: row;
}
[class*="icon-"]::before {
  color: var(--color-legacy-red);

  fill: var(--color-legacy-red);
  width: 1.4ch;
  height: 1.4ch;
  align-self: flex-start;
  margin-top: .625ch;
  margin-right: var(--space-3xs);
}
.icon-map::before {
  background: url("data:image/svg+xml,%3Csvg height='12' width='12' xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cpath d='M256 0C159.969 0 82.125 77.859 82.125 173.906 82.125 269.938 236.797 512 256 512c19.219 0 173.875-242.063 173.875-338.094C429.875 77.859 352.031 0 256 0zm0 240.406c-36.719 0-66.5-29.781-66.5-66.5 0-36.75 29.781-66.531 66.5-66.531s66.516 29.781 66.516 66.531c0 36.719-29.797 66.5-66.516 66.5z' fill='#d23f33'/%3E%3C/svg%3E") center center no-repeat;
  background-size: auto 100%;
  content: "";
}
.icon-tel::before {
  background: url("data:image/svg+xml,%3Csvg height='12' width='12' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cpath d='M94.811 21.696c-35.18 22.816-42.091 94.135-28.809 152.262 10.344 45.266 32.336 105.987 69.42 163.165 34.886 53.79 83.557 102.022 120.669 129.928 47.657 35.832 115.594 58.608 150.774 35.792 17.789-11.537 44.218-43.058 45.424-48.714l-18.899-29.14-51.972-80.135c-3.862-5.955-28.082-.512-40.386 6.457-16.597 9.404-31.882 34.636-31.882 34.636-11.38 6.575-20.912.024-40.828-9.142-24.477-11.262-51.997-46.254-73.9-77.947-20.005-32.923-40.732-72.322-41.032-99.264-.247-21.922-2.341-33.296 8.304-41.006 0 0 29.272-3.666 44.627-14.984 11.381-8.392 26.228-28.286 22.366-34.242l-51.972-80.134L157.816.088c-5.657-1.205-45.216 10.071-63.005 21.608z' fill='#d23f33'/%3E%3C/svg%3E") center center no-repeat;
  background-size: auto 100%;
  content: "";
}
.icon-pre-chevron {
  align-items: center;
  display: flex;
  flex-direction: row;

  &::before {
    align-self: center;
    background: url("data:image/svg+xml,%3Csvg transform='rotate(90deg)' width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 15 6-6 6 6' stroke='red' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 65% center no-repeat;
    content: "";
    height: 18px;
    margin: 0;
    width: 1em;
  }
}
.icon-post-chevron {
  align-items: center;
  display: flex;
  flex-direction: row;
  &::after {
    align-self: center;
    background: url("data:image/svg+xml,%3Csvg transform='rotate(90deg)' width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 15 6-6 6 6' stroke='red' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 65% center no-repeat;
    content: "";
    height: 18px;
    width: 1em;
  }
}

.icon-reverse {
  &::before,
  &::after {
    transform: rotate(180deg);
  }
}