<header class="frame repel" data-component="Site header">
	<div class="frame" data-component="logo"></div>
	<ul role="list" class="cluster">
	</ul>
</header>

<main>
	<div class="frame frame-l" data-component="Hero Project"></div>

		<div class="frame frame-m">
			<div class="frame" data-component="Heading">Values/Mission/Vision</div>
			<div class="frame frame-m" data-component="Prose"></div>
		</div>

		<div class="frame grid" data-layout="50-50" data-component="CSS Composition: Grid (50-50)">
			<div class="frame frame-m" data-component="Project Listing"></div>
			<div class="frame frame-m" data-component="Project Listing"></div>
			<div class="frame frame-m" data-component="Project Listing"></div>
			<div class="frame frame-m" data-component="Project Listing"></div>
			<div class="frame frame-m" data-component="Project Listing"></div>
			<div class="frame frame-m" data-component="Project Listing"></div>
			<div class="frame frame-m" data-component="Project Listing"></div>
			<div class="frame frame-m" data-component="Project Listing"></div>
		</div>
		
		<div class="frame frame-m" data-component="Quote (Hero)"></div>
		<div class="frame frame-m" data-component="Media"></div>
		<div class="frame frame-m" data-component="Resource Listing (Hero)">News/Thought Leadership</div>
</main>

<footer class="frame frame-s" data-component="Site footer"></footer>