<nav aria-label="pagination" class="pagination topnav temporal repel">
  <div class="cluster">
    <a href="#prev" class="previous button mini icon rounded hollow">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
        <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span>Previous Events</span>
    </a>
    <p class="current">September 7th - November 21</p> 
    <a href="#next" class="next button mini icon rounded hollow">
      <span>Next Events</span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
  <a href="#upcoming" class="button mini align-only">Upcoming Events</a>
</nav>

<div class="frame frame-l"></div>

<nav aria-label="pagination" class="region pagination repel temporal">
  <a href="#prev" class="previous button mini align-only">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
      <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span>Previous Events</span>
  </a>
  <a href="#next" class="next button mini align-only">
    <span>More Recent Events</span>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
</nav>