<div class="flex" style="min-height: 10em;">
  <p class="throw-end">Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante
    venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem
    lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.</p>
</div>