{% if post.external_byline %}
  <address class="hgroup person-header">
    <span class="author">{{ post.external_byline }}</span>
  </address>
  {% elseif post.internal_authors %}
  <div class="grid">
  {% for author in post.internal_authors %}
    <address class="hgroup person-header">
      <span class="author">{{ author.title }}</span>
      {% if author.role %}
      <span class="title type-detail">{{ author.role }}</span>
      {% endif %}
       {% if author.sectors %}
        <div class="scopes">
          {% for sector in author.sectors %}
          <span class="scope type-detail"><a href="#">{{ sector | stylize }}</a></span>
          {% endfor %}
        </div>
        {% endif %}
    </address>
  {% endfor %}
  </div>
{% endif %}
