{% for office in city.office_details %}
<div class="lede-header office region">

  {% if office.name %}
  <div class="office-name">
    <h2 class="name">{{ office.name }}</h2> 
    <small class="note">A Cumming Group company</small>
  </div>
  {% endif %}
  {% if office.address %}
  <p class="icon-map">
    <a href="#">{{ office.address }}</a>
  </p>
  {% endif %}
  {% if office.phone %}<p class="icon-tel"><a href="{{ office.phone | phone_url }}">{{ office.phone | phone }}</a></p>{% endif %}
</div>
{% endfor %}
