<figure class="media">
  <div class="switcher">
    <div class="thumb">
      <div class="">
        <a href="" data-media="{{ youtube ?? mp3 }}">
        {% if poster %}
          <img decoding="async" src="{{ poster.src }}">
        {% else %}
          <span class="placeholder fpo"></span>
        {% endif %}
        </a>
      </div>
    </div>
  </div>
</figure>
