<figure class="media">
  <div class="switcher">
    <div class="thumb">
      <div class="">
      {% if youtube %}
        <a href="" data-media="{{ post.podcast_youtube_url | youtube_embed }}">
        {% if poster %}
          <img decoding="async" src="{{ poster.src }}">
        {% else %}
          <img decoding="async" src="{{ post.podcast_youtube_url | youtube_poster }}">
        {% endif %}
        </a>
      {% elseif post.podcast_mp3_url %}
      {% endif %}
      </div>
    </div>
  </div>
</figure>
