<div class="logo-cluster">
  <span>
    <img
    src="https://picsum.photos/295/150?&blur=1" 
    height="150"
    width="295" 
    alt="" 
    loading="lazy">
  </span>
  <span>
    <img
  decoding="async"
    src="https://picsum.photos/150/150?&blur=2" 
    height="150"
    width="150"
    alt="" 
    loading="lazy">
  </span>
  <span>
    <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=3" 
    height="150"
    width="150"
    alt="" 
    loading="lazy">
  </span>
  <span>
    <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=4"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  </span>
  <span>
    <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=5"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  </span>
  <span>
    <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=6"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  </span>
  <span>
    <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=7"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  </span>
  <span>
    <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=8"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  </span>
  <span>
    <img
    decoding="async"
    src="https://picsum.photos/295/150/?&blur=9"
    height="150"
    width="295"
    alt=""
    loading="lazy">
  </span>
</div>