<div class="logo-cluster">
  <img 
    src="https://picsum.photos/295/150?&blur=5" 
    height="150"
    width="295" 
    alt="" 
    loading="lazy">
  <img
  decoding="async"
    src="https://picsum.photos/150/150?&blur=5" 
    height="150"
    width="150"
    alt="" 
    loading="lazy">
  <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=5" 
    height="150"
    width="150"
    alt="" 
    loading="lazy">
  <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=5"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=5"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=5"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=5"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  <img
    decoding="async"
    src="https://picsum.photos/150/150?&blur=5"
    height="150"
    width="150"
    alt=""
    loading="lazy">
  <img
    decoding="async"
    src="https://picsum.photos/295/150/?&blur=5"
    height="150"
    width="295"
    alt=""
    loading="lazy">
</div>