
<h2 class="type-hed hed-accent">Expertise in GHG Standards & Frameworks</h2>
<div class="logo-cluster region {{utilities}}">
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
</div>