<div class="logo-cluster {{utilities}}">
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
  <div class="frame">Logo</div>
</div>