<div class="cluster">
  <div class="bg-deep-steel text-light p-m">Item 1</div>
  <div class="bg-deep-steel text-light p-m">Item 2</div>
  <div class="bg-deep-steel text-light p-m">Item 3</div>
  <div class="bg-deep-steel text-light p-m">Item 4</div>
  <div class="bg-deep-steel text-light p-m">Item 5</div>
  <div class="bg-deep-steel text-light p-m">Item 6</div>
  <div class="bg-deep-steel text-light p-m">Item 7</div>
  <div class="bg-deep-steel text-light p-m">Item 8</div>
</div>