<header class="all-center">
  <p>Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante
    venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem
    lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.</p>
</header>