
.central {
  position: relative;
  width: 100vw;
  overflow: hidden;
  [class*="is-style-bg"] {
    background: none;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 200vw;
      position: absolute;
      left: -50vw;
      right: -50vw;
      bottom: 0;
      top: 0;
      z-index: -1;
    }

    &[class*="bg-timeless-highlight"]::before { background: var(--color-timeless-highlight); }
    &[class*="bg-timeless-backdrop"]::before  { background: var(--color-timeless-backdrop); }
    &[class*="bg-timeless-gold"]::before      { background: var(--color-timeless-gold); }
    &[class*="bg-steel-shade"]::before        { background: var(--color-steel-shade); }
    &[class*="bg-deep-steel"]::before         { background: var(--color-deep-steel); }
    &[class*="bg-regal-purple"]::before       { background: var(--color-regal-purple); }
    &[class*="bg-legacy-red"]::before         { background: var(--color-legacy-red); }
  }
  .central-inner {
    padding-block-end: calc(var(--region-space) * 2 );
    & > * {
      --flow-space: var(--region-space, var(--space-s-m));
      &p {
        --flow-space: var(--space-xs);
      }
    }
  }
  .wrapper .sidebar {
    --sidebar-target-width: 22rem;
  }
}