.client-list {
  &.grid {
    display: grid;
    --gutter: var(--space-2xs);
    --grid-min-item-size: 25rem;
    --grid-placement: auto-fill;
    grid-auto-flow: dense;
  }
  li {
    display: list-item;
  }
}

.is-style-client-list:not([role="list"]) {
  max-width: 100%;
  margin-block: var(--region-space);
  --gutter: var(--space-2xs);
  --grid-min-item-size: 25rem;
  --grid-placement: auto-fill;
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--gutter, var(--space-s-m));
  grid-auto-flow: dense;
  li {
    display: list-item;
    flex-direction: row;
    align-items: flex-start;
    line-height: var(--leading-tight);
    &::marker {
      color: transparent;
      content: none;
      display: none;
    }
    &::before {
      content: "+";
      color: var(--color-timeless-gold);
      font-size: var(--size-step-0);
      font-weight: var(--weight-semibold);
      display: inline-block;
      margin-inline: 0 var(--space-2xs);
    }
  }
}