.gallery {
  position: relative;
  &[class*="bg-"],
  [class*="bg-"] {
    background: none;
    &::before {
      content: "";
      display: block;
      width: 200vw;
      position: absolute;
      left: -50vw;
      right: -50vw;
      bottom: 25%;
      top: 0;
      z-index: -1;
    }
    &[class*="bg-"]:has(figure:first-of-type:last-of-type),
    [class*="bg-"]:has(figure:first-of-type:last-of-type) {
      &::before {
        bottom: 0;
      }
    }
    &[class*="bg-"]:has(article:first-of-type:last-of-type),
    [class*="bg-"]:has(article:first-of-type:last-of-type) {
      &::before {
        bottom: calc( var(--space-3xl) * 3 );
      }
    }
    &.is-style-bg-timeless-highlight::before,
    &.bg-timeless-highlight::before { background: var(--color-timeless-highlight); }
    &.is-style-bg-timeless-backdrop::before,
    &.bg-timeless-backdrop::before  { background: var(--color-timeless-backdrop); }
    &.is-style-bg-timeless-gold::before,
    &.bg-timeless-gold::before      { background: var(--color-timeless-gold); }
    &.is-style-bg-steel-shade::before,
    &.bg-steel-shade::before        { background: var(--color-steel-shade); }
    &.is-style-bg-deep-steel::before,
    &.bg-deep-steel::before         { background: var(--color-deep-steel); }
    &.is-style-bg-regal-purple::before,
    &.bg-regal-purple::before       { background: var(--color-regal-purple); }
    &.is-style-bg-legacy-red::before,
    &.bg-legacy-red::before         { background: var(--color-legacy-red); }
  }

  .gallery-inner {
    display: flex;
    flex-direction: column;
    grid-row-gap: var(--gutter);
    position: relative;

    figure {
      position: relative;
      .credit {
        background: var(--color-backdrop);
        border-radius: 0 2px 0 0;
        bottom: 0;
        color: var(--color-steel-highlight);
        font-size: var(--size-microcopy);
        left: 0;
        padding-inline: var(--space-3xs);
        pointer-events: none;
        position: absolute;
      }
      &:nth-of-type(even) {
        .credit {
          border-radius: 2px 0 0 0;
          left: auto;
          right: 0;
          text-align: right;
        }
      }
    }
  }

  @media screen(md) {
    & {
      margin-bottom: calc( var(--space-2xl) + var(--space-s-m) );
    }
    &:has(.project-listing) {
      padding-block-end: var(--space-3xl);
    }
    .thumb:hover {
      transform: translateY( calc( 0px - var(--space-3xs) ) );
    }
    &.project-grid {
      .switcher {
        --gutter: var(--space-xl)
      }
    }
    &:not(.project-grid) {
      .gallery-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        & > * {
          margin-block: 0;
          width: calc( 50% - var(--space-m) );

          .thumb {
            transition: transform .2s ease-in-out;
          }
          &:nth-of-type(even) {
            align-self: flex-end;
            transform: translateY( calc( 50% + ( var(--gutter) / 2 ) ) );
          }
          &:nth-last-of-type(2):nth-of-type(odd) {
            margin-bottom: var(--space-3xl);
          }
          &:last-of-type {
            &:nth-of-type(odd) {
              margin-block-end: calc( 0px - var(--space-2xl) );
            }
            &:nth-of-type(even) {
              position: relative;
              top: calc( 0px - var(--space-3xl) );
            }
          }
          &:first-child:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}