.inline-form {
  padding: var(--space-s) var(--space-xs);
  form {
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: var(--size-step-00);
  }
  .submit {
    --flow-space: var(--space-s);
  }
}