.inner-nav {
  li {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: var(--weight-regular);
      line-height: var(--leading-tight);
      &:hover {
        color: var(--color-legacy-red);
        text-decoration: none;
        transform: translateX( var(--space-nudge) );
      }
    }
  }
}