.insights {
  .grid {
    --gutter: var(--space-m-l);
    gap: var(--space-s) var(--space-m-l);
  }

  .insight {
    border-top: var(--content-division);
    display: flex;
    flex-direction: both;
    justify-content: stretch;
    transition: transform .2s ease-out;
    &:hover {
      transform: translateY( calc( 0px - var(--space-3xs) ) );
    }
    & > a {
      display: flex;
      flex-grow: 2;
      flex-direction: column;
      font-family: var(--font-body);
      font-size: var(--size-step-1);
      font-weight: var(--weight-semibold);
      justify-content: flex-end;
      letter-spacing: var(--tracking-tight);
      text-transform: uppercase;
      text-decoration: none;
      img {
        width: 60%;
        max-width: var(--space-3xl);
        margin-block-end: var(--space-xs);
      }
    }
  }
}
