.interactive-map {
  container: map / inline-size;
  position: relative;
  .constrain {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    max-height: 70rem;
    max-width: 70rem;
    top: 0;
    width: 100%;
  }
  .map-keys {
    margin: auto;
    top: var(--space-xl);
    width: 100%;
    z-index: 2;
  }
  #wrapper {
    width: 100%;
    g svg {
      transform: scale(1.5) translateY(-10%);
      transform-origin: 75% center;
    }
  }
  svg path {
    cursor: pointer;
    fill: var(--color-steel-midtone);
    fill-opacity: .5;
    stroke: var(--color-timeless-backdrop);
    stroke-width: .5;
    transition: all .4s ease;
    transform-origin: center center;
    &.active-region {
      fill-opacity: 1;
      stroke-width: .75;
    }
  }
  .popup {
    pointer-events: none; /* Prevent popup from blocking click under any circumstances. */
  }
  .popup:not(:empty) {
    background: var(--color-highlight);
    left: 0;
    padding: var(--space-xs) var(--space-m);
    position: absolute;
    top: 0;
    transform: translateX( var(--space-s) ) translateY( var(--space-xs) );
  }

  .card-location {
    transition: transform .2s ease;
    &.type-detail {
      font-size: var(--size-step-0);
    }
    &.active-card,
    &:hover,
    &:focus {
      text-decoration: none;
      transform: translateY( calc( 0px - var(--space-2xs) ) );
    }
  }
}
.grid {
  --gutter: var(--space-2xs);
}
@container map screen( sm ) {
  .grid {
  --grid-placement: 2;
  }
}
@container map screen( md ) {
    .map-keys {
    position: absolute;
  } 
  .grid {
    --grid-placement: 3;
  }
}
@container map screen( lg ) {

  .grid {
    --grid-placement: 6;
  }
}