.lede-header {
  color: var(--color-steel-shade);
  max-width: 85%;

  &.hed-accent {
    &::after {
      content: "";
      display: block;
      width: var(--space-xl-2xl);
      margin-block-start: var(--space-m);
      border: var(--content-division);
    }
    &+.lede-header {
      margin-block-start: var(--space-xs);
    }
  }
  &.office {
    p {
      font-size: var(--size-step-0);
    }
    .office-name {
      margin-block-end: var(--space-2xs);
      .name {
        font-size: var(--size-step-3);
        font-weight: var(--weight-semibold);
        margin-block: 0;
      }
      .note {
        display: inline-block;
        font-size: var(--size-step-0);
      }
    }
  }
  .author,
  .location,
  .subhed {
    color: var(--color-deep-steel);
    font-size: var(--size-step-2);
  }
  .note {
    color: var(--color-deep-steel);
    font-style: italic;
  }
  p {
    color: var(--color-deep-steel);
    font-size: var(--size-step-1);
    font-family: var(--font-secondary);
    max-width: 90ch;
    line-height: var(--leading-loose);
    font-weight: var(--weight-regular);
    text-wrap: pretty;
  }
  .subhed {
    margin-block: 0;
  }
  a {
    text-decoration-color: transparent;
    text-underline-offset: 3px;
    transition: text-decoration-color.2s ease-in-out;
    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--color-steel-midtone);
    }
  }

  .person-meta {
    margin-block-start: 0;
  }

  &.lede-news,
  &.lede-home {
    font-weight: var(--weight-light);
    p {
      font-family: var(--font-display);
      font-size: var(--size-step-1);
      max-width: 100ch;
    }
  }

  &.lede-home {
    position: static;
    &::after {
      background: var(--color-timeless-gold);
      content: "";
      display: block;
      position: absolute;
      left: 0;
      margin-block-start: calc(var(--region-space, var(--space-l-xl) * 2 ));
      height: var(--space-m);
      width: 40vw;
      max-width: 30rem;
    }
    p {
      font-size: var(--size-step-2);
      font-weight: var(--weight-regular);
    }
  } 
}

.person-header {
  margin-block: var(--space-s-m);
}

