/* Resource Listing */

.resource-listing {
  .sidebar {
    --sidebar-target-width: 16rem;
    --sidebar-content-min-width: 50%;
  }
  .item {
    height: 100%;
  }
  .thumb {
    justify-content: center;
    align-items: center;
    align-self: center;
    img {
      width: 100%;
      margin: auto;
      height: auto;
    }
  }
  .type-hed {
    --flow-space: var(--space-nudge);
    font-size: var(--size-step-2);
    margin-bottom: 0;
    &.hed-accent + p {
      margin-top: 0;
    }
  }
  p {
    line-height: var(--leading-normal);
    font-size: var(--size-step-00);
  }
  time {
    color: var(--color-deep-steel);
    font-size: var(--size-step-000);
    font-weight: var(--weight-regular);
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-2xs) var(--space-s) var(--space-xs) 0;
  }
  .type-hed + .listing-meta {
    --flow-space: var(--space-2xs);
    padding-block-start: 0;
  }
  .hed-accent + .listing-meta {
    --flow-space: 0;
    padding-top: 0;
  }

  .listing-meta {
    --gutter: 0;
    display: flex;
    flex-direction: row;
    font-size: var(--size-step-000);
    & > * + *::before {
      content: "•";
      color: var(--color-timeless-gold);
      margin-inline: var(--space-2xs);
    }
  }

  &.hero,
  &.event {
  .sidebar {
    --sidebar-gutter: var(--space-xl);
    --sidebar-target-width: 25rem;
    --sidebar-content-min-width: 50%;
  }

    time {
      font-size: var(--size-step-0);
    }
    .type-hed {
      font-size: var(--size-step-4);
    }
    .body {
      p {
        font-size: var(--size-step-1);
        line-height: var(--leading-wide);
      }
    }
  }

  &.secondary {
    time {
      font-size: var(--size-step-00);
    }
    .type-hed {
      font-size: var(--size-step-1);
    }
    p {
      font-size: var(--size-step-1);
      line-height: var(--leading-tight);
    }
    .sidebar {
      --sidebar-gutter: var(--space-m);
      --sidebar-target-width: 20rem;
      --sidebar-content-min-width: 40%;
    }
  }

  &[class*="bg-deep-steel"],
  &[class*="bg-steel-shade"],
  &[class*="bg-legacy-red"],
  &[class*="bg-regal-purple"] {
    @mixin invert;
    &::before {
      color: inherit;
    }
  }

  .sidebar[data-direction="rtl"] {
    .body {
      align-items: flex-end;
      text-align: right;
      padding-inline-start: var(--space-s);
    }
  }

  &.mini {
    .sidebar {
      --sidebar-content-min-width: 60%;
      --sidebar-gutter: var(--space-xs);
      --sidebar-target-width: 5rem;
    }
    .body {
      padding: 0;
    }
    .type-hed {
      font-size: var(--size-step-00);
      font-weight: var(--weight-semibold);
      &::after {
        display: none;
      }
    }
  }

  & + hr {
    margin-block: 0;
  }
}

/* Layout styles to suit WordPress' block indexes. */
.resource-listings {
  & > .switcher {
    width: 100%;
  }
}
.resource-listings.listings-index {
  .sidebar {
    --sidebar-target-width: 16rem;
  }
}
.resource-listings:not(.listings-index) {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-m));
  align-items: var(--switcher-vertical-alignment, flex-start);
  flex-basis: calc((var(--switcher-target-container-width, 40rem) - 100%) * 999);
  
  & > .resource-listing {
    align-self: flex-start;
    flex-grow: 1;
    flex-basis: calc((var(--switcher-target-container-width, 40rem) - 100%) * 999);
  }
  & > .resource-listing:nth-of-type(2) ~ * {
    flex-basis: 100%;
  }

  &.listings-hero {
    .sidebar {
      --sidebar-gutter: var(--space-s-m);
      --sidebar-target-width: 16rem;
      --sidebar-content-min-width: 50%;
    }
    & > .resource-listing.secondary {
      .sidebar {
        --sidebar-gutter: var(--space-m);
        --sidebar-target-width: 20rem;
        --sidebar-content-min-width: 40%;
      }
      flex-basis: calc((var(--switcher-target-container-width, 40rem) - 100%) * 999);
    }
    & > .resource-listing:nth-of-type(3) ~ * {
      flex-basis: 100%;
    }
    & > .resource-listing:first-of-type {
      flex-basis: 100%;
      .sidebar {
        --sidebar-gutter: var(--space-xl);
        --sidebar-target-width: 25rem;
        --sidebar-content-min-width: 60%;
      }
      time {
        font-size: var(--size-step-0);
      }
      .type-hed {
        font-size: var(--size-step-4);
      }
      .body {
        p {
          font-size: var(--size-step-1);
          line-height: var(--leading-wide);
        }
      }
    }
    & > .resource-listing:nth-of-type(3) ~ * {
      flex-basis: 100%;
    }
  }
  &.listings-secondary {
    .resource-listing:first-of-type {
      time {
        font-size: var(--size-step-00);
      }
      .type-hed {
        font-size: var(--size-step-2);
      }
      p {
        font-size: var(--size-step-1);
        line-height: var(--leading-tight);
      }
      .sidebar {
        --sidebar-gutter: var(--space-m);
        --sidebar-target-width: 20rem;
        --sidebar-content-min-width: 40%;
      }
    }
  }
  hr:last-child {
    display: none;
  }
}

[class*="bg-deep-steel"],
[class*="bg-steel-shade"],
[class*="bg-legacy-red"],
[class*="bg-regal-purple"] {
  time {
    color: var(--color-steel-midtone);
  }
}
