.cg ul:not([role="list"]):not(.grid):not([class*="multicol"]),
.cg ol:not([role="list"]):not(.grid):not([class*="multicol"]) {
  display: flex;
  flex-direction: column;
}

.cg ul[class*="multicol"],
.cg ol[class*="multicol"] {
  display: grid;
  max-width: 100%;
  margin-block: var(--region-space);
  margin-inline: var(--space-3xs);
  grid-template-columns: 1fr;
  &.is-style-client-list-multicol,
  &.is-style-multicol {
    gap: var(--space-xs) var(--gutter, var(--space-s-m));
  }
}
@media screen(sm) {
  .cg ul[class*="multicol"],
  .cg ol[class*="multicol"] {
    --grid-min-item-size: clamp(16rem, 25vw, calc( 33.3% - var(--gutter, var(--space-s-m) ) ) );
    --grid-placement: auto-fill;
    
    grid-template-columns: repeat(
      var(--grid-placement, auto-fit),
      minmax(var(--grid-min-item-size, 16rem), 1fr)
    );
  }
}

.cg ul:not([role="list"]),
.cg ol:not([role="list"]) {
  font-size: var(--size-step-0);
  font-weight: var(--weight-light);
  padding: var(--space-xs) 0;
  margin-inline: var(--space-s);
  li {
    margin-block: var(--space-3xs);
    padding-left: var(--space-2xs);
    flex: none;
    &::marker {
      color: var(--color-legacy-red);
      font-size: var(--size-step-0);
      fill: var(--color-legacy-red);
      padding-right: var(--space-s);
    }
  }
  ul, ol {
    margin-block: 0;
  }
}

.cg ul:not([role="list"]) {
  margin-inline-start: var(--space-s);
  li {
    &::-webkit-details-marker {
      display: none; 
    }
    &::marker {
      content: "";
      color: transparent; /* HACK: Safari only allows limited styles on ::marker. */
    }
    &:not(:has(ul),:has(ol))::marker {
      content: "•";
      color: var(--color-legacy-red);
      font-size: var(--size-step-0);
    }
    ol li:not(:has(ul),:has(ol))::marker {
      content: "" counter( listitem ) ".";
      color: var(--color-legacy-red);
      font-size: var(--size-step-0);
    }
  }
}

ol:not([role="list"]) {
  counter-set: listitem;
  padding: 0;
  ol, ul {
    counter-reset: listitem;
  }
  li {
    &::-webkit-details-marker {
      display: none; 
    }
    &::marker {
      color: transparent; /* HACK: Safari only allows limited styles on ::marker. */
      content: "";
      display: none;
    }
    &:not(:has(ul),:has(ol)) {
      counter-increment: listitem;
    }
    &:not(:has(ul),:has(ol))::marker,
    &:not(:has(ul),:has(ol))::marker {
      color: var(--color-legacy-red);
      content: "" counter( listitem ) ".";
      font-size: var(--size-step-0);
      font-weight: var(--weight-semibold);
    }

    ul > li:not(:has(ul),:has(ol)) {
      &::marker {
        content: "•";
        color: var(--color-legacy-red);
        font-size: var(--size-step-0);
      }
    }
  }
}

.cg ul:not([role="list"]),
.cg ol:not([role="list"]) {
  ul:not([role="list"]),
  ol:not([role="list"]) {
    margin-block: 0;
    padding-block: 0;
    li:first-of-type {
      margin-block-start: 0;
    }
  }

  &.is-style-default {
    margin-block: var(--region-space);
    margin-inline-start: var(--space-l);
  }

  &.is-style-cta-list,
  &.cta-list {
    & > li {
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: var(--leading-tight);
      &::marker {
        color: transparent;
        content: none;
        display: none;
      }
      &::before {
        aspect-ratio: 1/1;
        background: var(--color-legacy-red) url("data:image/svg+xml,%3Csvg transform='rotate(90deg)' width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 15 6-6 6 6' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 65% center no-repeat;
        background-size: 80%;
        border-radius: 50%;
        content: "";
        display: block;
        font-size: var(--size-step-0);
        height: var(--space-s);
        margin-inline: 0 var(--space-xs);
        width: var(--space-s);
      }
    }
  }

   &.client-list {
    & > li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      line-height: var(--leading-tight);
      &::marker {
        color: transparent;
        content: none;
        display: none;
      }
      &::before {
        aspect-ratio: 1/1;
        content: "+";
        color: var(--color-timeless-gold);
        font-size: var(--size-step-0);
        font-weight: var(--weight-semibold);
        display: block;
        margin-inline: 0 var(--space-2xs);
      }
    }
  }

}

.multicol {
  container: multicol / inline-size;
  ul,
  ol {
    columns: 1 auto;
    display: block;
    li {
      display: flex;
      flex-direction: row;
      margin-block: 0 var(--space-2xs);
      justify-content: stretch;
      line-height: var(--leading-tight);
      width: 100%;

      &::before {
        content: "•";
        line-height: .8;
        color: var(--color-legacy-red);
        font-size: var(--size-step-2);
        fill: var(--color-legacy-red);
        padding-right: var(--space-xs);
      }
    }
  }
}

@container multicol ( width > 40rem ) {
  .multicol {
    ul,
    ol {
      columns: 2 auto;
    }
  }
}


@container multicol ( width > 50rem ) {
  .multicol {
    ul,
    ol {
      columns: 3 auto;
    }
  }
}


ul.markers,
ol.markers {
  li {
    display: flex;
    &::before {
      content: "•";
      color: var(--color-legacy-red);
      margin-right: var(--space-3xs);
    }
  }
}

.client-list {

  &.grid {
    display: grid;
    --gutter: var(--space-2xs);
    --grid-min-item-size: 25rem;
    --grid-placement: auto-fill;
    grid-auto-flow: dense;
  }
  li {
    display: list-item;
  }
}

.cg ul.is-style-client-list:not([role="list"]),
.cg ul.is-style-client-list-multicol:not([role="list"]),
.cg ol.is-style-client-list:not([role="list"]),
.cg ol.is-style-client-list-multicol:not([role="list"]) {
   li {
    display: list-item;
    flex-direction: row;
    width: auto;
    margin-block: var(--space-2xs);
    align-items: flex-start;
    line-height: var(--leading-tight);
    &::marker {
      color: transparent;
      content: none;
      display: none;
    }
    &::before {
      content: "+";
      color: var(--color-timeless-gold);
      font-size: var(--size-step-0);
      font-weight: var(--weight-semibold);
      display: inline-block;
      margin-inline: 0 var(--space-2xs);
    }
  }
}

.cg ul.is-style-client-list-multicol:not([role="list"]) {
  max-width: 100%;
  --gutter: var(--space-2xs);
  --grid-min-item-size: 25rem;
  --grid-placement: auto-fill;
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: 0 var(--gutter, var(--space-s-m));
  grid-auto-flow: dense;
}