.location {
  --flow-space: var(--space-xs);
  font-size: var(--size-step-00);

  max-width: 65rem;

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;

    &:hover {
      text-decoration-color: var(--color-steel-midtone);
    }
  }
  .type-eyebrow {
    margin-block: var(--space-s-m);
  }
  .hed {
    font-size: var(--size-step-0);
    font-weight: var(--weight-semibold);
    margin-block-end: var(--space-2xs);
    line-height: var(--leading-normal);
    a {
      text-decoration-color: transparent;
      text-underline-offset: 3px;
    }
  }
  .location-group {
    &:not(:last-of-type){
      padding-bottom: var(--space-2xs);
      border-bottom: 1px solid var(--color-steel-highlight);
    }
  }

  .location-columns {
    columns: 1 auto;
    column-gap: var(--space-m-l);
    ul {
      border: 1px solid transparent;
      break-inside: avoid;
      margin: unset;
      border-bottom: 1px solid var(--color-steel-highlight);
      &:last-of-type {
        border-bottom: none;
      }

      li {
        margin-block: var(--space-2xs);
      }
    }
  }

  p {
    --flow-space: var(--space-3xs);
    font-size: var(--size-step-00);
    text-wrap: balance;
  }
  .addr {
    --flow-space: var(--space-nudge);
  }
  .icon {
    display: inline-block;
    width: var(--space-m);

    svg {
      max-width: 100%;
      height: auto;
    }
  }
  .contact {
    color: var(--color-deep-steel);
    display: inline-block;
    font-size: var(--size-step-00);
    font-weight: var(--weight-regular);

    *::before {

    }
    li {
      --flow-space: var(--space-3xs);
      display: flex;
      flex-direction: row;
    }
    a {
      color: var(--color-dark);
      font-weight: var(--weight-semibold);
      text-decoration: none;
    }
  }
}

.location {
  container: columns / inline-size;
}

@container columns ( width > 40rem ) {
  .location {
    .location-columns {
      columns: 2 auto;
    }
  }
}

@container columns ( width > 50rem ) {
  .location {
    .location-columns {
      columns: 3 auto;
    }
  }
}

.addresses-header {
  .lede-header {
    max-width: 100%;
  }
  --grid-min-item-size: 20rem;
  --gutter: var(--space-s-m);
}

.wp-block-column {
  .switcher {
    display: block;
  }
  .location-columns {
    columns: 1 auto;
  }
}