.logo-cluster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs) var(--space-m-l);
  width: 100%;
  max-width: 70rem;
  img {
    max-width: 18rem;
    height: auto;
  }
}