.logo-cluster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: var(--space-m-l);
  width: 100%;
  max-width: 80rem;
  span {
    max-width: 18rem;
    img {
      max-width: 100%;
      max-height: 7rem;
      width: auto;
    }
  }
}