/* Resource Listing */

.media {
  margin: 0;
  &:not(:has(.body)) {
    max-width: 65rem;
  }

  .swap {
    background-size: auto;
    background-position: center center;
  }

  .switcher {
    --switcher-vertical-alignment: stretch;
    --gutter: calc( var(--space-m) * 2 );

    .thumb {
      aspect-ratio: 16/9;

      iframe,
      img {
        aspect-ratio: 16/9;
        object-position: center center;
        object-fit: cover;
        display: flex;
        content-fit: ;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      & > div {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    @supports not (aspect-ratio: 16/9) {
      .swap {
        display: block;
        position: relative;
        height: 0;
        overflow: visible;
        padding-bottom: 56.25%;
        iframe,
        img {
          position: absolute;
          height: 100%;
          width: 100%;
        }
      }
    }
    .type-hed {
      --flow-space: var(--space-3xs);
    }
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .body {
      padding: 0 var(--space-3xl) 0 0;
      p {
        line-height: var(--leading-wide);
      }
    }
    .hgroup .subhed {
      font-size: var(--size-step-1);
    }
  }
  &[data-direction="rtl"] {
    .body {
      text-align: right;
    }
  }

  &[class*="bg-deep-steel"],
  &[class*="bg-steel-shade"],
  &[class*="bg-legacy-red"],
  &[class*="bg-regal-purple"] {
    @mixin invert;
    &::before {
      color: inherit;
    }
  }
}
.wp-block-video {
  margin-block: var(--region-space, var(--space-s-m));
  max-width: 70rem;
}
.wp-embed-aspect-16-9 {
  iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }
}