/* Resource Listing */

.media {
  margin: 0;

  .swap {
    background-size: cover;
  }

  .switcher {
    --switcher-vertical-alignment: stretch;
    --gutter: calc( var(--space-m) * 2 );

    .thumb {
      iframe,
      img {
        display: flex;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }

    @supports not (aspect-ratio: 16/9) {
      .swap {
        display: block;
        position: relative;
        height: 0;
        overflow: visible;
        padding-bottom: 56.25%;
        iframe,
        img {
          position: absolute;
          height: 100%;
          width: 100%;
        }
      }
    }
    .type-hed {
      --flow-space: var(--space-3xs);
    }
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .body {
      padding: 0 var(--space-3xl) 0 0;
      p {
        line-height: var(--leading-wide);
      }
    }
  }
  &[data-direction="rtl"] {
    .body {
      text-align: right;
    }
  }

  &.bg-legacy-red,
  &.bg-deep-steel,
  &.bg-regal-purple,
  &.bg-steel-shade {
    @mixin invert;
    &::before {
      color: inherit;
    }
  }
}
