
.nav-flyout {
  a {
    border: none;
    display: inline-block;
  }
  &:not(:has([class*="bg-"])) {
    .sidebar {
      background-color: var(--color-deep-steel);
      color: var(--color-steel-highlight);
      border-radius: 2px;
    }
  }
  .sidebar {
    --sidebar-gutter: var(--space-s);
    --sidebar-target-width: 16rem;
    --sidebar-vertical-alignment: flex-start;
    align-items: stretch;
    padding-inline-end: var(--space-s);

    > ul {
      margin-inline: var(--space-m) 0;
    }
  }

  .teaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: balance;

    .body {
      padding-inline: var(--space-m);
      margin-block: var(--space-s);

      p {
        text-shadow: 0 0 3px var(--color-steel-shade);
        font-size: var(--size-step-0);
        font-family: var(--font-body);
        font-weight: var(--weight-regular);
        line-height: var(--leading-wide);
        width: 90%;
      }
      .type-hed {
        font-size: var(--size-step-1);
      }
    }
  }

  .subnav {
    right: 0;
    left: 0;
    top: 100%;
    z-index: 2;

    .sidebar > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-block: 0;
      padding-inline-end: var(--space-3xs);
      li {
        padding-block: var(--space-nudge);
        a {
          color: var(--color-light);
          font-size: var(--size-step-00);
          line-height: var(--leading-tight);
          margin-block: var(--space-nudge);
          text-decoration: none;
          text-transform: uppercase;
          position: relative;
          &:hover {
            padding-left: var(--space-3xs);
          }
          &[aria-current] {
            color: var(--color-timeless-highlight);
            padding-left: 0;
            .amp {
              color: var(--color-timeless-gold);
            }
          }
        }
      }
    }
  }

  &[class*="bg-deep-steel"],
  &[class*="bg-steel-shade"],
  &[class*="bg-legacy-red"],
  &[class*="bg-regal-purple"] {
    @mixin invert;
  }
  &:has([class*="bg-deep-steel"]),
  &:has([class*="bg-legacy-red"]),
  &:has([class*="bg-steel-shade"]) {
    .flyout[aria-expanded="true"] {
      color: var(--color-highlight);
    }
  }
  &:has([class*="bg-regal-purple"]) {
    .subnav {
      border-color: var(--color-regal-purple);
    }
    .flyout[aria-expanded="true"] { 
      background: var(--color-regal-purple);
    }
  }
  &:has([class*="bg-legacy-red"]) {
    .subnav {
      border-color: var(--color-legacy-red);
    }
    .flyout[aria-expanded="true"] { 
      background: var(--color-legacy-red);
    }
  }
  &:has([class*="bg-deep-steel"]) {
    .subnav {
      border-color: var(--color-deep-steel);
    }
    .flyout[aria-expanded="true"] { 
      background: var(--color-deep-steel);
    }
  }
  &:has([class*="bg-timeless-gold"]) {
    .subnav {
      border-color: var(--color-timeless-gold);
    }
    .flyout[aria-expanded="true"] { 
      background: var(--color-timeless-gold);
    }
  }
}

@media screen(md) {
  .nav-flyout {
    position: relative;
    .subnav {
      position: absolute;
      left: auto;
      min-width: 50em;
      right: 0;
      top: 115%;
      width: 40vw;
      &.left-collision {
        left: var(--space-nudge);
        right: auto;
      }
    }

    &:not(:has(.teaser)) {
      .subnav {
        min-width: 20rem;
        width: auto;
      }
    }

  }
}
