.person-grid {
  position: relative;
  &[class*="bg-"] {
    background: none;
    &::before {
      left: -50vw;
      right: -50vw;
      bottom: 0;
      min-height: calc( var(--space-xl) * 1.5 );
      top: 0;
      z-index: -1;
      bottom: calc( var(--space-3xl) * 2 );
      content: "";
      display: block;
      position: absolute;
      width: 200vw;
      z-index: -1;
    }
    &.bg-timeless-highlight::before { background: var(--color-timeless-highlight); }
    &.bg-timeless-backdrop::before  { background: var(--color-timeless-backdrop); }
    &.bg-timeless-gold::before      { background: var(--color-timeless-gold); }
    &.bg-steel-shade::before        { background: var(--color-steel-shade); }
    &.bg-deep-steel::before         { background: var(--color-deep-steel); }
    &.bg-regal-purple::before       { background: var(--color-regal-purple); }
    &.bg-legacy-red::before         { background: var(--color-legacy-red); }
  }
  .people-inner {
    max-width: 65rem;
    display: grid;
      grid-template-columns: 1fr;
      gap: var(--space-l);
  }
}

@media screen( sm ) {
  .person-grid {
    .people-inner {
      display: grid;
      grid-template-columns: repeat( 3, 1fr );
      gap: var(--space-l);
    }
    .person {
      max-width: 14rem;
    }
    .person:has(.bio) {
      width: unset;
      max-width: unset;
      grid-column: 1 / 4;
    }
  }
}


@media screen( sm ) {
  .person-grid {
    .people-inner {
      display: grid;
      grid-template-columns: repeat( 3, 1fr );
      gap: var(--space-l);
    }
    .person {
      max-width: 14rem;
    }
    .person:has(.bio) {
      width: unset;
      max-width: unset;
      grid-column: 1 / 4;
    }
  }
}


@media screen( md ) {
  .person-grid {
    .people-inner {
      grid-template-columns: repeat(4, 1fr);

      .person {
        max-width: 14rem;
      }
      & > .person:has(.bio) {
        grid-column: 1 / 4;
        width: unset;
        max-width: unset;
        &:nth-of-type(even) {
          grid-column: 2 / 5;
        }
      }

      & > *:not(:has(.bio)):nth-of-type( 3n+1 ) {
        grid-column: 2/3;
      }

      & > *:not(:has(.bio)):nth-of-type( 6n+1) {
        grid-column: 1/2;
      }
    }
  }
}