.person {
  --flow-space: var(--space-nudge);

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
      margin-block: var(--space-3xs);

  }
  .sidebar {
    --sidebar-target-width: 14rem;
    --sidebar-content-min-width: 50%;
    --sidebar-gutter: var(--space-xs);
    align-items: stretch;
  }

  .hed {
    --flow-space: var(--space-2xs);
    color: var(--color-dark);
    font-size: var(--size-step-2);
    font-weight: var(--weight-semibold);
    a {
      color: var(--color-steel-shade);
      text-decoration: underline;
      text-decoration-color: var(--color-legacy-red);
      transition: text-decoration-color .125s ease-in-out;
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
  .prose {
    --flow-space: var(--space-xs);
    p {
      line-height: var(--leading-normal);
      font-size: var(--size-step-00);
    }
  }
  .title {
    color: var(--color-steel-shade);
    font-size: var(--size-step-0);
    letter-spacing: var(--tracking-tight);
    line-height: var(--leading-seamless);
  }
  .person-header {
    --flow-space: var(--space-nudge);
    width: 100%;
  }
  .locations {
    padding-block-start: var(--space-nudge);
    display: flex;
  }
  .location {
    line-height: var(--leading-seamless);
    color: var(--color-deep-steel);
    font-size: var(--size-step-000);

    & + &::before {
      content: ",";
      margin-inline-end: var(--space-nudge);
    }
  }
  .person-meta {
    max-width: 100%;
    --flow-space: var(--space-2xs);

    .title {
      font-size: var(--size-step-0);
      line-height: var(--leading-seamless);
    }
    .title-scope li {
      display: inline;
    }
    .title-scope, .contacts {
      --flow-space: var(--space-2xs);
      color: var(--color-steel-shade);
      line-height: .85;
      max-width: 100%;
      li {
        font-size: var(--size-step-0);
        line-height: var(--leading-seamless);
        & + li::before {
          content: "•";
          color: var(--color-timeless-gold);
          display: inline-block;
          padding-inline: calc( var(--space-nudge) - 1px ) var(--space-3xs);
        }
      }
      li,
      a {
        line-height: var(--leading-seamless);
        font-family: var(--font-secondary);
        font-size: var(--size-microcopy);
        text-decoration-color: transparent;
      }
      a:hover {
        text-decoration: underline;
        text-decoration-color: var(--color-legacy-red);
      }
    }
    .repel {
      border-top: 1px solid var(--color-steel-highlight);
    }
    .contacts {
      flex-wrap: wrap;
      font-size: var(--size-step-000);
      letter-spacing: var(--tracking-tight);
      li {
        --flow-space: var(--space-nudge);
      }
      li a {
        font-family: var(--font-body);
        font-weight: var(--weight-semibold);
      }
      li + li {
        &::before {
          display: none;
        }
      }
    }
  }
}