.phase {
  --sidebar-content-min-width: 40%;
  --sidebar-target-width: 37.5rem;

  .type-hed {
    font-size: var(--size-step-2);
    font-weight: var(--weight-semibold);
    .amp {
      font-weight: var(--weight-regular);
    }
  }
  .body {
    margin-block: var(--space-3xs) var(--space-2xs);
  }
  ul,
  ol {
    padding-block-start: 0;
  }
}