/* 
PROSE UTILITY
*/
.prose {
  --flow-space: var(--space-m);
  --region-space: var(--space-s-m);
  font-size: var(--size-step-0);
  padding-inline-end: var(--space-s-m);

  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    font-weight: var(--weight-normal);
  }

  & > *:first-of-type:not(hr) {
    margin-block-start: var(--space-s-m);
  }

  & > p,
  & > ul li,
  & > ol li {
    line-height: var(--leading-wide);
    font-weight: var(--weight-light);
    font-size: var(--size-step-0);
  }
  & > ul,
  & > ol {
    margin-block: var(--space-3xs);
    padding-block: var(--space-3xs);
    max-width: 40em;
    &:last-child {
      margin-bottom: var(--space-xs);
    }
  }

  & > p {
    line-height: var(--leading-loose);
    max-width: 95ch;
  }
  & > p {
    --region-space: var(--space-2xs);
    margin-block: var(--region-space, var(--space-2xs));
  }
  & > h1,  & > h2,  & > h3,  & > h4, & > h5, & > h6 {
    --flow-space: var(--space-m-l);
  }
  & > h1[class*="is-style-hed"],  & > h2[class*="is-style-hed"],  & > h3[class*="is-style-hed"],  & > h4[class*="is-style-hed"] {
    --flow-space: var(--space-m-l);
    & + p {
      margin-block-start: var(--space-xs);
    }
  }
  & > h1.wp-block-heading,
  & > h1:not([class]),
  & > h2.wp-block-heading,
  & > h2:not([class]) {
    font-size: var(--size-step-3);
  }
  & > h3.wp-block-heading,
  & > h3:not([class]) {
    color: inherit;
    display: flex;
    flex-direction: row;
    font-family: var(--font-body);
    font-size: var(--size-step-1);
    font-weight: var(--weight-normal);
    letter-spacing: var(--tracking-tight);
    text-transform: uppercase;
    &.is-style-hed-accent,
    &.hed-accent {
      position: relative;
      padding-bottom: var(--space-s);
      margin-bottom: var(--space-2xs);
      &::after {
        border: 1px solid var(--color-timeless-gold);
        bottom: 0;
        content: "";
        display: inline-block;
        left: 0;
        position: absolute;
        width: var(--space-s-m);
      }
      .amp {
        font-size: 1.8ch;
        padding-inline: var(--space-nudge);
      }
    }
    strong {
      font-weight: var(--weight-semibold);
    }
  }
  & > h4.wp-block-heading,
  & > h4:not([class]) {
    color: var(--color-steel-shade);
    font-size: var(--size-step-0);
    font-weight: var(--weight-semibold);
    text-transform: uppercase;
  }
  & > h5.wp-block-heading,
  & > h5:not([class]) {
    color: var(--color-deep-steel);
    font-size: var(--size-step-00);
    font-weight: var(--weight-semibold);
    text-transform: uppercase;
  }
  & > h6.wp-block-heading,
  & > h6:not([class]) {
    color: var(--color-deep-steel);
    font-size: var(--size-step-000);
    font-weight: var(--weight-semibold);
    text-transform: uppercase;
  }

  &.lede {
    & > p:first-of-type:not([class*="is-style-"]),
    & > p:first-of-type.is-style-default {
      color: var(--color-deep-steel);
      font-family: var(--font-display);
      font-size: var(--size-step-1);
      max-width: 100ch;
      margin-block: var(--space-m-l) var(--space-l-xl);
    }
  }
}