{#
  Title: Reports
  Description: Index of Market Analysis reports
  Category: cg-index
  Icon: chart-area
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsReusable: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="region region-primary listings-hero {{ classes }}">
{% set wrapper = 0 %}
{% for post in posts %}
  {% if ( fields.layout == "index" and loop.index == 1 ) %}
    {% include template_list(post, 'list-item') with { 'type': 'hero' } %}
    {% if fields.signup_form %}
    <div class="inline-form flow is-style-bg-timeless-backdrop">
      {{ fields.signup_form | gravityform(false, true) }}
    </div>
    {% endif %}
  {% else %}
    {% if wrapper == 0 %}
      <div class="switcher">
    {% endif %}
    {% set wrapper = wrapper + 1 %}
    {% include template_list(post, 'list-item') with { 'type': 'secondary' } %}

    {% if wrapper == 2 or loop.last %}
      {% set wrapper = 0 %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
{% if fields.pagination %}
<div class="region">
{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2 }) } %}
</div>
{% endif %}
</div>
