{#
  Title: Regions
  Description: Offices and metadata for one or more regions
  Category: cg-index
  Icon: admin-site
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none left right
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="region region-primary">
  <div class="switcher">
    {% for region in regions %}
    <div class="flow">
      <div class="location flow">
        {% if region.heading %}<h2 class="type-eyebrow hed-accent">{{ region.heading }}</h2>{% endif %}
        <div class="multicol">
          <ul class="flow markers" role="list">
            {% for post in region.posts|sort_locations %}
            {% set nextloc = region.posts|sort_locations[loop.index].location %}
            <li class="hed type-hed{% if nextloc != post.location %} location-group{% endif %}"><a href="{{ post.link }}">{{ post.title }}, {{ post.location }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {%- endfor %}
  </div>
</div>
