{#
  Title: Regions
  Description: Offices and metadata for one or more regions
  Category: cg-index
  Icon: admin-site
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none left right
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="switcher region region-primary" data-layout="three-up">
  {% for region in regions %}
  <div class="flow">
    <div class="location flow">
      {% if region.heading %}<h2 class="type-eyebrow hed-accent">{{ region.heading }}</h2>{% endif %}
      <ul class="flow" role="list">
        {% for post in region.posts|sort((a, b) => a.location <=> b.location) %}
        <li class="hed type-hed icon-map">
          <a href="{{ post.link }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {%- endfor %}
</div>
