{#
  Title: News
  Description: Index list of News + Insight posts
  Category: cg-index
  Icon: admin-page
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsReusable: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="resource-listings {{ classes }} listings-{{ fields.layout }}">
{% for post in posts %}
{% if ( fields.layout == "hero" and loop.index == 1 ) %}
  {% include template_list(post, 'list-item') with { 'type': 'hero' } %}
{%  elseif ( fields.layout == "hero" and ( loop.index == 2 or loop.index == 3 ) ) or ( fields.layout == "secondary" and ( loop.index == 1 or loop.index == 2 )) %}
  {% include template_list(post, 'list-item') with { 'type': 'secondary' } %}
{%  else  %}
  {% include template_list(post, 'list-item') with { 'type': style } %}
{% endif %}
{% if ( fields.layout == "secondary" and loop.index == 2 ) or ( fields.layout == "hero" and loop.index == 3 ) %}
{% endif %}
{% endfor %}
{% if fields.pagination %}
{% include 'partial/pagination.twig' %}
{% elseif fields.teaser %}
{% set teaser = get_post(fields.teaserlink) %}
<div class="region">
  <a href="{{ teaser.link }}" class="icon-previous type-detail ">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path id="chevron" d="m9 6 6 6-6 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <span>{{ teaser.post_title|stylize }}</span>
  </a>
</div>
{% endif %}
</div>
