{#
  Title: Events
  Description: Index list of upcoming or past events
  Category: cg-index
  Icon: calendar-alt
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsReusable: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="flow region">
{% if fields.window == 'upcoming' %}
  {% for post in posts %}
    {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': "hero" } %}
    <hr>
  {% endfor %}
  {% if fields.archive_link %}
  <div class="pagination repel temporal">
    <a href="{{ fields.archive_link }}" class="previous button mini align-only">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)" aria-hidden="true">
        <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <span>Previous Events</span>
    </a>
  </div>
  {% endif %}
{% elseif fields.window == 'past' %}
  {% for post in posts %}
    {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': "hero" } %}
    <hr>
  {% endfor %}
  {% if fields.pagination and posts.pagination %}
  <div class="region">
  {% include 'partial/pagination.twig' with { posts: posts } %}
  </div>
  {% endif %}

{% elseif fields.window == 'all' %}
  {% for post in posts %}
    {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': "hero" } %}
    <hr>
  {% endfor %}
  {% if fields.pagination and posts.pagination %}
  <div class="region">
  {% include 'partial/pagination.twig' with { posts: posts } %}
  </div>
  {% endif %}
{% endif %}
</div>
