{#
  Title: Events
  Description: Index list of upcoming or past events
  Category: cg-index
  Icon: calendar-alt
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsReusable: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="region region-double">
{%- if fields.window == 'upcoming' %}
  <h3 class="hed-hatch">Upcoming Events</h2>
  {% if posts | length == 0 %}
  <div class="region">
    {{ fields.empty_message }}
  </div>
  {% endif %}
  {% for post in posts %}
    {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': "hero" } %}
  {% endfor %}
  {% if fields.archive_link %}
  {% set archive = get_post(fields.archive_link) %}
  <hr>
  <div class="region">
    <a href="{{ archive.link }}" class="icon-previous type-detail">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"  aria-hidden="true">
        <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      <span>Past Events</span>
    </a>
  </div>
  {% endif %}

{%- elseif fields.window == 'past' %}
  {% if fields.pagination and posts.pagination %}
    {% include 'partial/pagination-events.twig' with { posts: posts } %}
    <hr>
  {% endif %}
  {% if posts | length == 0 %}
  {{ fields.empty_message }}
  {% endif %}
  {% for post in posts %}
    {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': "hero" } %}
  {% endfor %}
  {% if fields.pagination and posts.pagination %}
  <div class="region">
    {% include 'partial/pagination-events-nextprev.twig' with { posts: posts } %}
  </div>
  {% endif %}

{%- elseif fields.window == 'all' %}
  {# timespan var is 0 before any posts are printed, 1 when printing upcoming events, 2 when printing past events #}
  {% set timespan = 0 %}
  {% for post in posts %}
    {% if (timespan == 0) and (date(post.end_date) >= date()) %}
      {% set timespan = 1 %}
      <h3 class="hed-hatch">Upcoming Events</h2>
    {% elseif (timespan == 1) and (date(post.end_date)) < date() %}
      {% set timespan = 2 %}
      <h3 class="hed-hatch">Past Events</h2>
    {% else %}
    {% endif %}
    {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': "hero" } %}
  {% endfor %}
  {% if fields.pagination and posts.pagination %}
  <div class="region">
  {% include 'partial/pagination.twig' with { posts: posts } %}
  </div>
  {% endif %}
{% endif %}
</div>
