{#
  Title: News
  Description: Index list of News + Insight posts
  Category: cg-index
  Icon: admin-page
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsReusable: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="region">
{%  if 'current' in posts.pagination.pages[0].class %}
{% for post in posts|slice(0, 1) %}
{% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': 'hero' } %}
{% endfor %}
<div class="switcher region">
  {% for post in posts|slice(1, 2) %}
  {% include ['listing-'~post[1].post_type~'.twig', 'listing.twig'] with { 'type': 'secondary' } %}
  {% endfor %}
</div>
<hr>
<div class="region">
  {% for post in posts|slice(3) %}
  {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': style } %}
  {% endfor %}
</div>
{% else %}
<div class="region">
  {% for post in posts %}
  {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { 'type': style } %}
  {% endfor %}
</div>
{%  endif  %}
{% if fields.pagination %}
<hr>
<div class="region">
{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
</div>
{% endif %}
