<nav class="us-only" aria-hidden="false">
</nav>
<nav class="eu-only" aria-hidden="true">
</nav>
<div class="{{ wrapper }} wrapper region">
  <div class="lozenge">
    <button role="button" aria-expanded="true" data-toggle=".us-only" data-persist data-toggle-group="nav">Americas</button>
    <button role="button" aria-expanded="false" data-toggle=".eu-only" data-persist data-toggle-group="nav">Europe <span class="amp">+</span> UK</button>
  </div>
</div>