{#
  Title: Lede
  Description: Page lede
  Category: cumminggroup
  Icon: editor-paragraph
  Mode: preview
  SupportsMode: true
  Align: left
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none left right
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
  Example: { "lede": "Lorem ipsum dolor sit amet, consectetur adipiscing elit…" }
#}

<div class="lede-header">
  <p>{{ lede }}</p>
</div>