<div class="affiliate">
	<div class="sidebar">
		 <span class="thumb">
			<a href="https://www.gallaghertx.com/"><img decoding="async" src="http://localhost/wp-content/uploads/2024/03/Gallagher_Cumming-Group-logo.png" height="auto" alt="Gallagher"></a>
		</span>
		<div class="flow body">
			<p>In March 2023, <a href="https://www.gallaghertx.com/" class="weight-semibold text-legacy-red">Gallagher</a> merged with Cumming Group. Gallagher is a highly trusted project- and program-management firm providing services to independent school districts, higher education districts, and other government agencies in Texas. Gallagher, a family-owned business, was founded in 1968, and is currently led by Von Gallagher and Lisa Gallagher.</p>
		</div>
	</div>
</div>
