<div class="affiliate region region-double">
	<div class="wrapper">
		<div class="sidebar">
			<span class="thumb">
				<img fetchpriority="high" decoding="async" width="897" height="183" src="https://cumming-group.com/wp-content/uploads/2024/07/CHANDLERKBS_CUMMING-GROUP_INFRASTRUCTURE-LOGO-1.jpg" alt="" class="img-responsive wp-image-66744" srcset="https://cumming-group.com/wp-content/uploads/2024/07/CHANDLERKBS_CUMMING-GROUP_INFRASTRUCTURE-LOGO-1-200x41.jpg 200w, https://cumming-group.com/wp-content/uploads/2024/07/CHANDLERKBS_CUMMING-GROUP_INFRASTRUCTURE-LOGO-1-400x82.jpg 400w, https://cumming-group.com/wp-content/uploads/2024/07/CHANDLERKBS_CUMMING-GROUP_INFRASTRUCTURE-LOGO-1-600x122.jpg 600w, https://cumming-group.com/wp-content/uploads/2024/07/CHANDLERKBS_CUMMING-GROUP_INFRASTRUCTURE-LOGO-1-800x163.jpg 800w, https://cumming-group.com/wp-content/uploads/2024/07/CHANDLERKBS_CUMMING-GROUP_INFRASTRUCTURE-LOGO-1.jpg 897w" sizes="(max-width: 800px) 100vw, 400px">
			</span>
			<div class="flow">
				<p><a href="#">Lorem ipsum dolor</a> sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</div>
