<div class="region bg-timeless-backdrop">
  <div class="wrapper">
    <h2 class="type-eyebrow hed-hatch" id="hed">Key Insights</h2>
    <div class="repel">
      <p>Select from the most pressing topics this quarter.</p>
    </div>
    <nav aria-labelledby="hed" class="insights region {{ utilities }}">
      <ul class="grid" data-layout="four-up" role="list">
        <li class="insight bg-light">
          <a href="#" class="region region-double wrapper all-center">
            <img src="https://insights.cumming-group.com/wp-content/uploads/2018/09/Natl-Economy.jpg" alt="">
            National Economy
          </a>
        </li>
        <li class="insight bg-light">
          <a href="#" class="region region-double wrapper all-center">
            <img src="https://insights.cumming-group.com/wp-content/uploads/2018/06/Materials-01.jpg" alt="">
            Materials
          </a>
        </li>
        <li class="insight bg-light">
          <a href="#" class="region region-double wrapper all-center">
            <img src="https://insights.cumming-group.com/wp-content/uploads/2018/09/Intl.jpg" alt="">
            International
          </a>
        </li>
        <li class="insight bg-light">
          <a href="#" class="region region-double wrapper all-center">
            <img src="https://insights.cumming-group.com/wp-content/uploads/2018/09/Lending-Activity.jpg" alt="">
            Lending Activity
          </a>
        </li>

        <li class="insight bg-light">
          <a href="#" class="region region-double wrapper all-center">
            <img src="https://insights.cumming-group.com/wp-content/uploads/2018/09/Natl-Economy.jpg" alt="">
            Labor
          </a>
        </li>
        <li class="insight bg-light">
          <a href="#" class="region region-double wrapper all-center">
            <img src="https://insights.cumming-group.com/wp-content/uploads/2018/06/Materials-01.jpg" alt="">
            Construction Activity
          </a>
        </li>
        <li class="insight bg-light">
          <a href="#" class="region region-double wrapper all-center">
            <img src="https://insights.cumming-group.com/wp-content/uploads/2018/09/Intl.jpg" alt="">
            U.S. Costs
          </a>
        </li>
        <li class="insight bg-light">
          <a href="#" class="region region-double wrapper all-center">
            <img src="https://insights.cumming-group.com/wp-content/uploads/2018/09/Lending-Activity.jpg" alt="">
            AIA ABI
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>