
<div class="hero">
  <div class="hero-highlight {{ utilities }}">
    <figure class="statistic flow hero">
      <dl class="wrapper">
        <div class="body">
          <dt class="type-hed">2,000<span class="sup">+</span></dt>
          <dd class="type-detail">Team members worldwide</dd>
        </div>
        <div class="body">
          <dt class="type-hed">50<span class="sup">+</span></dt>
          <dd class="type-detail">Offices worldwide</dd>
        </div>
        <div class="body">
          <dt class="type-hed">27</dt>
          <dd class="type-detail">Years in business</dd>
        </div>
        <div class="body">
          <dt class="type-hed">300<span class="sup">+</span></dt>
          <dd class="type-detail">billion in completed projects</dd>
        </div>
        <div class="body">
          <dt class="type-hed"><span class="sup">#</span>14</dt>
          <dd class="type-detail">ranking on ENR's top 100 PM/CM list</dd>
        </div>
      </dl>
    </figure>
  </div>
  <div class="notch hero-header sidebar" data-direction="rtl">
    {% if hed %}
    <div class="hed-banner wrapper">
      <div class="notch-inner">
        <h1 class="notch-inner hed type-pagehed {{ banner }}">{{ hed }}</h1>
      </div>
    {% endif %}
  </div>
</div>