<div class="toggle">
  <a href="{{ href }}" role="button" data-toggle data-group="{{ group }}" aria-expanded="false">Pass-Through Toggle</a>
  <div aria-hidden="true">
    <p>Revealed content</p>
  </div>
</div>