    <div class="gallery wrapper region region-double">
      <div class="gallery-inner">
        <article aria-labelledby="hed-77215" class="project-listing region hatching flow">
          <div class="sidebar swap flow">
            <a href="#" class="thumb">
              <img
                src="https://cumming-group.com/wp-content/uploads/2023/12/EUROPE_TOP-SLIDER-IMAGE-2.jpg"
                alt="Meaningfully describes the content of the image itself."
                width="2000"
              />
            </a>
            <div class="body">
              <h3 class="type-hed hed-accent" id="hed-77215">
                <a href="#">Sphere at the Venetian Resort</a>
              </h3>
              <div class="meta flow">
                <ul role="list">
                  <li><a href="#">Culture & Arts</a></li>
                  <li><a href="#">Sports & Venues</a></li>
                </ul>
                <div class="type-detail secondary">
                  <a href="#">Northeast Region</a>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article aria-labelledby="hed-77215" class="project-listing reverse hatching region flow">
          <div class="sidebar swap flow" data-direction="rtl">
            <a href="#" class="thumb">
              <img
                src="https://cumming-group.com/wp-content/uploads/2024/05/The-Lyric-Theatre-Restoration-1.jpg"
                alt="Meaningfully describes the content of the image itself."
                width="2000"
              />
            </a>
            <div class="body">
              <h3 class="type-hed hed-accent" id="hed-77215">
                <a href="#">The Lyric Theatre Restoration</a>
              </h3>
              <div class="meta flow">
                <ul role="list">
                  <li><a href="#">Culture & Arts</a></li>
                </ul>
                <div class="type-detail secondary">
                  <a href="#">Northeast Region</a>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article aria-labelledby="hed-77215" class="project-listing region hatching flow">
          <div class="sidebar swap flow">
            <a href="#" class="thumb">
              <img
                src="https://cumming-group.com/wp-content/uploads/2024/06/Sky-Munich-Headquarters.png"
                alt="Meaningfully describes the content of the image itself."
                width="2000"
              />
            </a>
            <div class="body">
              <h3 class="type-hed hed-accent" id="hed-77215">
                <a href="#">Sky Munich Headquarters</a>
              </h3>
              <div class="meta flow">
                <ul role="list">
                  <li><a href="#">Corporate</a></li>
                </ul>
                <div class="type-detail secondary">
                  <a href="#">Europe</a>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article aria-labelledby="hed-77215" class="project-listing reverse hatching region flow">
          <div class="sidebar swap flow" data-direction="rtl">
            <a href="#" class="thumb">
              <img
                src="https://cumming-group.com/wp-content/uploads/2023/08/Portland-International-Airport-1.jpg"
                alt="Meaningfully describes the content of the image itself."
                width="2000"
              />
            </a>
            <div class="body">
              <h3 class="type-hed hed-accent" id="hed-77215">
                <a href="#">Portland International Airport</a>
              </h3>
              <div class="meta flow">
                <ul role="list">
                  <li><a href="#">Aviation</a></li>
                  <li><a href="#">Mission Critical</a></li>
                </ul>
                <div class="type-detail secondary">
                  <a href="#">Northwest Region</a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>