<div class="phase {{ utilities }}">
  <div class="wrapper">
    <h2 class="type-hed hed-accent">{{ hed }}</h2>
    <div class="sidebar swap">
      <div class="body">
        <div class="prose">
          {{ body | markdown }}
        </div>
      </div>
      {% if items %}
      <div class="multicol">
        <ul class="twocol">
          {% for item in items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>