<nav aria-label="pagination" class="pagination repel temporal">
  {% if posts.pagination.next is not empty %}
  <a href="{{ posts.pagination.next.link }}" class="previous button mini align-only">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
      <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <span>Previous Events</span>
  </a>
  {% endif %}
  {% if posts.pagination.prev is not empty %}
    <a href="{{ posts.pagination.prev.link }}" class="next button mini align-only">
      <span>Next Events</span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
  {% else %}
    <a href="/events" class="next button mini align-only">
      <span>Upcoming Events</span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
  {% endif %}
</nav>