<div class="wrapper">
  <div class="notch postbody-notch">
    <div class="attendees flow notch-inner bg-timeless-backdrop">
      <h2 class="hed type-eyebrow hed-hatch">We’ll be there!</h2>
      <ul role="list" class="grid attendee-list">
        {% for person in post.people %}
          {% include ['partial/person.twig'] with { person: person } %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>