{% if heading %}
<div class="region">
  <h2 class="type-hed hed-accent">{{ heading }}</h2>
</div>
{% endif %}

<div class="{{ classes }}">
{% for post in items | sort_news %}
  {% include ['listing-'~post.post_type~'.twig', 'listing.twig'] with { "type" :  post.post_type } %}
{% endfor %}
</div>
