{% if heading %}
  <h2 class="type-hed hed-accent">{{ heading }}</h2>
{% endif %}

<div class="{{ classes }}">
{% for post in items | sort_news %}
  {% include template_list(post, 'list-item') with { "type" :  post.post_type } %}
{% endfor %}
</div>
