<div class="region region-double">
  <div class="social-links repel">
    <h3 class="hed type-detail" id="share-icons">Share this page</h3>
    <nav aria-labelledby="share-icons">
      <ul class="cluster" role="list">
        <li>
          <a href="{{ post.id | share_link('linkedin') }}" class="button round secondary icon"><span class="dashicons dashicons-linkedin text-light"></span></a>
        </li>
        <li>
          <a href="{{ post.id | share_link('email') }}" class="button round secondary icon"><span class="dashicons dashicons-email-alt text-light"></span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
