<div class="cg">
<div class="inline-form flow bg-timeless-backdrop">
    <div class="wrapper">
    <script type="text/javascript"></script>
                <div class="gf_browser_gecko gform_wrapper gravity-theme gform-theme--no-framework" data-form-theme="gravity-theme" data-form-index="0" id="gform_wrapper_221">
                        <div class="gform_heading">
                            <p class="gform_description">Learn more about our flexible approach to service delivery:</p>
                        </div><form method="post" enctype="multipart/form-data" id="gform_221" action="/sectors/civic/" data-formid="221" novalidate="">
                        <div class="gform-body gform_body"><div id="gform_fields_221" class="gform_fields top_label form_sublabel_below description_below validation_below"><div id="field_221_3" class="gfield gfield--type-email gfield--input-type-email gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_221_3"><label class="gfield_label gform-field-label" for="input_221_3">Email<span class="gfield_required"><span class="gfield_required gfield_required_text">(Required)</span></span></label><div class="ginput_container ginput_container_email">
                            <input name="input_3" id="input_221_3" type="email" value="" class="small" aria-required="true" aria-invalid="false">
                        </div></div>

<fieldset id="field_219_4" class="gfield gfield--type-name gfield--input-type-name gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_219_4"><legend class="gfield_label gform-field-label gfield_label_before_complex">Name<span class="gfield_required"><span class="gfield_required gfield_required_text">(Required)</span></span></legend><div class="ginput_complex ginput_container ginput_container--name no_prefix has_first_name no_middle_name has_last_name no_suffix gf_name_has_2 ginput_container_name gform-grid-row" id="input_219_4">
                            
                            <span id="input_219_4_3_container" class="name_first gform-grid-col gform-grid-col--size-auto">
                                                    <input type="text" name="input_4.3" id="input_219_4_3" value="" aria-required="true" class="small">
                                                    <label for="input_219_4_3" class="gform-field-label gform-field-label--type-sub ">First</label>
                                                </span>
                            
                            <span id="input_219_4_6_container" class="name_last gform-grid-col gform-grid-col--size-auto">
                                                    <input type="text" name="input_4.6" id="input_219_4_6" value="" aria-required="true" class="small">
                                                    <label for="input_219_4_6" class="gform-field-label gform-field-label--type-sub ">Last</label>
                                                </span>

                            
                        </div></fieldset>
                          <div id="field_221_6" class="gfield gfield--type-text gfield--input-type-text gfield--width-full field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_221_6"><label class="gfield_label gform-field-label" for="input_221_6">Company</label><div class="ginput_container ginput_container_text"><input name="input_6" id="input_221_6" type="text" value="" class="small" aria-invalid="false"></div></div><div id="field_221_8" class="gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below field_validation_below gfield_visibility_visible" data-js-reload="field_221_8"><label class="gfield_label gform-field-label" for="input_221_8">Email</label><div class="ginput_container"><input name="input_8" id="input_221_8" type="text" value="" autocomplete="new-password"></div><div class="gfield_description" id="gfield_description_221_8">This field is for validation purposes and should be left unchanged.</div></div></div></div>
        <div class="gform-footer gform_footer top_label"> <input type="submit" id="gform_submit_button_221" class="gform_button button" onclick="gform.submission.handleButtonClick(this);" value="Submit"> 
            <input type="hidden" class="gform_hidden" name="gform_submission_method" data-js="gform_submission_method_221" value="postback">
            <input type="hidden" class="gform_hidden" name="gform_theme" data-js="gform_theme_221" id="gform_theme_221" value="gravity-theme">
            <input type="hidden" class="gform_hidden" name="gform_style_settings" data-js="gform_style_settings_221" id="gform_style_settings_221" value="">
            <input type="hidden" class="gform_hidden" name="is_submit_221" value="1">
            <input type="hidden" class="gform_hidden" name="gform_submit" value="221">
            
            <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
            <input type="hidden" class="gform_hidden" name="state_221" value="WyJbXSIsIjU4MmQwOTM2NWExMGFiZWFiMmE3NzI0ZTNmZDI0MTNhIl0=">
            <input type="hidden" autocomplete="off" class="gform_hidden" name="gform_target_page_number_221" id="gform_target_page_number_221" value="0">
            <input type="hidden" autocomplete="off" class="gform_hidden" name="gform_source_page_number_221" id="gform_source_page_number_221" value="1">
            <input type="hidden" name="gform_field_values" value="">
            
        </div>
                        </form>
    </div>
  </div>
</div>