  <div class="switcher"{% if type == "reverse" %} data-direction="rtl" {% endif %}>
    <div class="bg-deep-steel text-light p-m">Item 1</div>
    <div class="bg-deep-steel text-light p-m">Item 2</div>
  </div>