
<div class="timeline">

    <h3 class="hed type-outline"><span>1996</span></h3>
    <ol role="list">
      <li class="timeline-item">
        <p><strong>Cumming Group established</strong> by Finlay Cumming</p>
      </li>
      <li class="timeline-item">
        <p>First office opened in <strong>Irvine, CA</strong></p>
      </li>
      <li class="timeline-item">
        <p>Key clients included <strong>Hilton Hotels</strong>, <strong>Marriott Vacation Club</strong>, and <strong>Walt Disney</strong></p>
      </li>
      <li class="timeline-item">
        <p>Second office opened in <strong>San Diego, CA</strong></p>
      </li>
      <li class="timeline-item">
        <p>Company engaged by <strong>Host Hotels</strong></p>
      </li>
      <li class="timeline-item">
        <h4 class="timeline-stat">$5M</h4>
        <p>in gross revenue</p>
      </li>
    </ol>


    <h3 class="hed type-outline">2002</h3>
    <ol role="list">
      <li class="timeline-item">
        <h4 class="timeline-stat">$10M</h4>
        <p>in gross revenue</p>
      </li>

      <li class="timeline-item">
        <h3 class="type-detail">Offices opened</h3>
        <ul class="client-list grid flow">
          <li>Amgen</li>
          <li>Sacramento, CA</li>
          <li>Denver, CO</li>
          <li>Orlando, FL</li>
          <li>Oakland, CA</li>
          <li>Murreta, CA</li>
          <li>Honolulu, HI</li>
          <li>San Francisco, CA</li>
          <li>Los Angeles, CA</li>
          <li>Las Vegas, NV</li>
          <li>Reno, NV</li>
          <li>Phoenix, AZ</li>
          <li>Atlanta, GA</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.8">
      </li>

      <li class="timeline-item">
        <h4 class="timeline-stat">#87</h4>
        <p>on Engineering News-Record’s annual ranking of the top 100 project/construction management firms in the U.S.</p>
      </li>

      <li class="timeline-item">
        <h4 class="timeline-stat">100</h4>
        <p>team members</p>
      </li>

      <li class="timeline-item">
        <h3 class="type-detail">Clients Engaged</h3>
        <ul class="client-list grid flow" data-layout="50-50">
          <li>Disney</li>
          <li>Ritz Carlton</li>
          <li>Kaiser Permanente</li>
          <li>Los Angeles Community College District</li>
          <li>Los Angeles Unified School District</li>
          <li>Stanford University</li>
          <li>Cal Trans</li>
          <li>Qualcomm</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
    </ol>

    <h3 class="hed type-outline">2008</h3>
    <ol role="list">
      <li class="timeline-item">
        <h3 class="type-detail">Joined Cumming Group</h3>
        <ul class="client-list grid flow">
          <li>Construction Controls Group</li>
          <li>Southern Management Group</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
      <li class="timeline-item">
        <h3 class="type-detail">Offices Opened</h3>
        <ul class="client-list grid flow">
          <li>Charleston, SC</li>
          <li>Columbia, SC</li>
          <li>Dallas, TX</li>
          <li>Washington, DC</li>
          <li>Silicon Valley, CA</li>
          <li>New York City, NY</li>
          <li>Miami, FL</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
      <li class="timeline-item">
        <h3 class="type-detail">Clients Engaged</h3>
        <ul class="client-list grid flow">
          <li>Wells Fargo Bank</li>
          <li>Charleston County School District</li>
          <li>Orlando International Airport</li>
          <li>Microsoft</li>
          <li>U.S. Army Corps of Engineers</li>
          <li>PIMCO</li>
          <li>Meta Platforms (formerly Facebook)</li>
          <li>Samsung</li>
          <li>Intel</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
    </ol>


    <h3 class="hed type-outline">2019</h3>
    <ol role="list">
      <li class="timeline-item">
        <h4 class="timeline-stat">$100M</h4>
        <p>in annual revenue</p>
      </li>
      <li class="timeline-item">
        <h3 class="type-standout">500</h3>
        <p>team members</p>
      </li>
      <li class="timeline-item">
        <h4 class="timeline-stat">#20</h4>
        <p>among the top U.S. project/construction management firms on Engineering News-Record’s annual top 100 ranking</p>
      </li>
      <li class="timeline-item">
        <h3 class="type-detail">Joined Cumming Group</h3>
        <ul class="client-list grid flow">
          <li>GB Fitzsimon</li>
          <li>Project One Integrated Services</li>
          <li>Lehrer LLC</li>
          <li>MHBC</li>
          <li>CapEX</li>
          <li>Prosurv</li>
          <li></li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
      <li class="timeline-item">
        <h3 class="type-detail">Offices Opened</h3>
        <ul class="client-list grid flow">
          <li>Raleigh, NC</li>
          <li>Seattle, WA</li>
          <li>Cranford, NJ</li>
          <li>London, UK</li>
          <li>Chicago, IL</li>
          <li>Boston, MA</li>
          <li>Westport, CT</li>
          <li>Nashville, TN</li>
          <li>Stroke-on-Trent, UK</li>
          <li>Edinburgh, UK</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
      <li class="timeline-item">
        <h3 class="type-detail">Clients Engaged</h3>
        <ul class="client-list grid flow">
          <li>Apple</li>
          <li>Gilead</li>
          <li>Neiman Marcus</li>
          <li>Ford Theater Foundation</li>
          <li>Boeing</li>
          <li>Citigroup</li>
          <li>Uber</li>
          <li>Salesforce</li>
          <li>Yale University</li>
          <li>Bloomberg</li>
          <li>LG Electronics</li>
          <li>Columbia University</li>
          <li>Amazon</li>
          <li>Oracle</li>
          <li>Equinix</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
    </ol>

    <h3 class="hed type-outline">2020</h3>
    <ol role="list">

      <li class="timeline-item">
        <h4 class="timeline-stat">$600M</h4>
        <p>in annual revenue</p>
      </li>

      <li class="timeline-item">
        <h3 class="type-detail">Joined Cumming Group</h3>
        <ul class="client-list grid flow">
          <li>TowerEight</li>
          <li>PlanB</li>
          <li>Inici Group</li>
          <li>Fort Point Project Management</li>
          <li>Scollard Doyle</li>
          <li>Nova Partners</li>
          <li>ChandlerKBS</li>
          <li>RGMK</li>
          <li>Amicon Management</li>
          <li>Zimmer Construction Consultants</li>
          <li>Gallagher</li>
          <li>PCM Consulting</li>
          <li>Intrepid Group</li>
          <li>Zubatkin Owner Representation</li>
          <li>Atlantic State Advisors (ASA)</li>
          <li>The Ridgway Group</li>
          <li>CLoSE UK</li>
          <li>BTTC</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>


      <li class="timeline-item">
        <h3 class="type-detail">Offices Established</h3>
        <ul class="client-list grid flow">
          <li>Portland, OR</li>
          <li>Manchester, UK</li>
          <li>Vail, CO</li>
          <li>Dublin, Ireland</li>
          <li>Cork, Ireland</li>
          <li>Berlin, Germany</li>
          <li>Concord, CA</li>
          <li>Vancouver, BC</li>
          <li>Belfast, Ireland</li>
          <li>Cardiff, UK</li>
          <li>Exeter, UK</li>
          <li>Dusseldorf, Germany</li>
          <li>Munich, Germany</li>
          <li>Hilversum, Netherlands</li>
          <li>Paris, France</li>
          <li>Houston, TX</li>
          <li>Waco, TX</li>
          <li>Richardson, TX</li>
          <li>West Palm Beach, FL</li>
          <li>Boca Raton, FL</li>
          <li>Bend, OR</li>
          <li>Oslo, Norway</li>
          <li>Milan, Italy</li>
          <li>Zurich, Switzerland</li>
          <li>Birmingham, UK</li>
          <li>Buckingham, UK</li>
          <li>Chesterfield, UK</li>
          <li>Toronto, Canada</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>

      <li class="timeline-item">
        <h4 class="timeline-stat">2,000</h4>
        <p>team members</p>
      </li>

      <li class="timeline-item">
        <h4 class="timeline-stat">#10</h4>
        <p>on Engineering News-Record’s annual ranking of the top 100 project/construction management firms in the U.S.</p>
      </li>

      <li class="timeline-item">
        <h3 class="type-detail">Clients Engaged</h3>
        <ul class="client-list grid flow" data-layout="50-50">
          <li>Cleveland Electric Company</li>
          <li>Jet Propulsion Laboratory in California</li>
          <li>Port of Portland</li>
          <li>Brown University</li>
          <li>Goldman Sachs</li>
          <li>Berklee College of Music</li>
          <li>Draft Kings</li>
          <li>AstraZeneca</li>
          <li>Tesla</li>
          <li>Princeton University</li>
          <li>Gucci</li>
          <li>Miami Country Day School</li>
          <li>Live Nation Entertainment</li>
          <li>New York Institute of Technology</li>
          <li>Ronald McDonald House</li>
          <li>Visa</li>
          <li>Duke University</li>
          <li>Pfizer</li>
        </ul>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
  
    </ol>
  </div>