
<div class="timeline">

    <h3 class="hed type-outline">1996</h3>
    <ol>
      <li class="timeline-item">
        <p><strong>Cumming Group established</strong> by Finlay Cumming</p>
      </li>
      <li class="timeline-item">
        <p>First office opened in <strong>Irvine, CA</strong></p>
      </li>
      <li class="timeline-item">
        <p>Key clients included <strong>Hilton Hotels</strong>, <strong>Marriott Vacation Club</strong>, and <strong>Walt Disney</strong></p>
      </li>
      <li class="timeline-item">
        <p>Second office opened in <strong>San Diego, CA</strong></p>
      </li>
      <li class="timeline-item">
        <p>Company engaged by <strong>Host Hotels</strong></p>
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">$5M</h4>
        <p>in gross revenue</p>
      </li>
    </ol>


    <h3 class="hed type-outline">2002</h3>
    <ol>
      <li class="timeline-item">
        <p>Third Cumming Group office established in <strong>Sacramento, CA</strong></p>
      </li>
      <li class="timeline-item">
        <p>New office opened in <strong>Denver, CO</strong></p>
      </li>
      <li class="timeline-item">
        <p>Cumming Group began working with <strong>Ritz Carlton</strong>, <strong>Kaiser Permanente</strong> and the <strong>Los Angels Community College District</strong></p>
        <img src="https://picsum.photos/1200/800?&blur=5">
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">50</h4>
        <p>team members</p>
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">$10M</h4>
        <p>in gross revenue</p>
      </li>
      <li class="timeline-item">
        <p>Additional offices established in <strong>San Francisco</strong> & <strong>Los Angeles, CA</strong>, and <strong>Las Vegas, NV</strong></p>
      </li>
      <li class="timeline-item">
        <p>Work began with <strong>Disney</strong> and <strong>Amgen</strong></p>
        <img src="https://picsum.photos/1200/800?&blur=4.9">
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">#87</h4>
        <p>on Engineering News-Record’s annual ranking of the top 100 project/construction management firms in the U.S.</p>
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">100</h4>
        <p>team members</p>
      </li>
      <li class="timeline-item">
        <p>Offices opened in <strong>Orlando, FL</strong>, <strong>Oakland & Murrieta, CA</strong>, and <strong>Honolulu, HI</strong></p>
      </li>
      <li class="timeline-item">
        <p>Key clients included <strong>Los Angeles Unified School District</strong>, <strong>Stanford University,</strong> and <strong>Cal Trans</strong></p>
        <img src="https://picsum.photos/1200/800?&blur=4.8">
      </li>
      <li class="timeline-item">
        <p>Continued expansion occurred with offices in <strong>Reno, NV</strong>, <strong>Phoenix, AZ</strong>, and <strong>Atlanta, GA</strong></p>
      </li>
      <li class="timeline-item">
        <p>Cumming Group engaged by <strong>Qualcomm</strong></p>
      </li>
    </ol>

    <h3 class="hed type-outline">2008</h3>
    <ol>
      <li class="timeline-item">
        <p>Los Angeles-based <strong>Construction Controls Group</strong> (CCG) joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Columbia, SC-based <strong>Southern Management Group</strong> (SMG) joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>The company underwent an East Coast expansion with new offices in <strong>Charleston</strong> and <strong>Columbia, SC</strong></p>
      </li>
      <li class="timeline-item">
        <p><strong>Wells Fargo Bank</strong> engaged as a new client</p>
      </li>
      <li class="timeline-item">
        <p>Work initiated with <strong>Charleston County School District</strong> and <strong>Orlando International Airport</strong></p>
        <img src="https://picsum.photos/1200/800?&blur=4.7">
      </li>
      <li class="timeline-item">
        <p>Office established in <strong>Dallas, TX</strong></p>
      </li>
      <li class="timeline-item">
        <p>Cumming Group engaged by <strong>Microsoft</strong> and the <strong>U.S. Army Corps of Engineers</strong></p>
      </li>
      <li class="timeline-item">
        <p>Additional offices opened in <strong>Washington, DC</strong> and <strong>Silicon Valley, CA</strong></p>
      </li>
      <li class="timeline-item">
        <p>New clients included <strong>PIMCO</strong> and <strong>Meta Platforms</strong> (formerly Facebook)</p>
        <img src="https://picsum.photos/1200/800?&blur=4.6">
      </li>
      <li class="timeline-item">
        <p>The company further expanded with offices in <strong>New York City</strong> and <strong>Miami</strong></p>
      </li> 
      <li class="timeline-item">
        <p>Work began with <strong>Samsung</strong> and <strong>Intel</strong></p>
        <img src="https://picsum.photos/1200/800?&blur=4.5">
      </li>
    </ol>


    <h3 class="hed type-outline">2019</h3>
    <ol role="list">
      <li class="timeline-item">
        <p>Office established in <strong>Raleigh, NC</strong></p>
      </li>
      <li class="timeline-item">
        <p><strong>Apple</strong> and <strong>Gilead</strong> brought on as new clients</p>
        <img src="https://picsum.photos/1200/800?&blur=4.4">
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">$100M</h4>
        <p>in annual revenue</p>
      </li>
      <li class="timeline-item">
        <p>Offices established in <strong>Seattle, WA</strong> and <strong>Cranford, NJ</strong></p>
      </li>
      <li class="timeline-item">
        <p>Work initiated with <strong>Neiman Marcus</strong> and the <strong>Ford Theater Foundation</strong></p>
      </li>
      <li class="timeline-item">
        <p>London-based <strong>GB Fitzsimon</strong> joined Cumming Group</p>
      </li>
     <li class="timeline-item">
        <p>The company’s first European office opened in <strong>London, UK</strong></p>
      </li>
      <li class="timeline-item">
        <p>Services delivered to <strong>Boeing</strong> and <strong>Citigroup</strong></p>
      </li>
      <li class="timeline-item">
        <h3 class="type-standout">500</h3>
        <p>team members</p>
      </li>      
      <li class="timeline-item">
        <p><strong>Uber</strong>, <strong>Salesforce</strong>, and <strong>Yale University</strong> engaged as new clients</p>
        <img src="https://picsum.photos/1200/800?&blur=4.3">
      </li>
      <li class="timeline-item">
        <p>Denver-based <strong>Project One Integrated Services</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>NYC-based <strong>Lehrer LLC</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>London-based <strong>MHBC</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Offices opened in <strong>Chicago, IL</strong> and <strong>Boston, MA</strong></p>
      </li>
      <li class="timeline-item">
        <p>Work began with <strong>Bloomberg</strong>, <strong>LG Electronics</strong>, <strong>Columbia University</strong>, and <strong>Amazon</strong></p>
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">#20</h4>
        <p>among the top U.S. project/construction management firms on Engineering News-Record’s annual top 100 ranking</p>
      </li>
      <li class="timeline-item">
        <p>Nashville-based <strong>CapEX</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Stoke-on-Trent-based <strong>Prosurv</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Offices established in <strong>Westport, CT</strong>; <strong>Nashville, TN</strong>; and <strong>Stoke-on-Trent</strong> & <strong>Edinburgh, UK</strong></p>
      </li>
      <li class="timeline-item">
        <p>Cumming Group engaged by <strong>Oracle</strong> and <strong>Equinix</strong></p>
      </li>
    </ol>

    <h3 class="hed type-outline">2020</h3>
    <ol role="list">
      <li class="timeline-item">
        <h4 class="type-standout">$200M</h4>
        <p>in annual revenue</p>
      </li>
      <li class="timeline-item">
        <p>London-based <strong>TowerEight</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Portland, OR-based <strong>PlanB</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Offices established in <strong>Portland, OR</strong> and <strong>Manchester, UK</strong></p>
      </li>
      <li class="timeline-item">
        <p>Work began with <strong>Cleveland Electric Company</strong> and the <strong>Jet Propulsion Laboratory in California</strong></p>
      </li>
      <li class="timeline-item">
        <h3 class="type-standout">1,000</h3>
        <p>team members</p>
      </li>
      <li class="timeline-item">
        <p>Portland, OR-based <strong>Inici Group</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Boston-based <strong>Fort Point Project Management</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Dublin Ireland-based <strong>Scollard Doyle</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Bay Area project management firm <strong>Nova Partners</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Offices established in <strong>Vail, CO</strong>; <strong>Dublin and Cork, Ireland</strong>; and <strong>Berlin, Germany</strong></p>
      </li>
      <li class="timeline-item">
        <p>New clients included the <strong>Port of Portland</strong>, <strong>Brown University</strong>, and <strong>Goldman Sachs</strong></p>
        <img src="https://picsum.photos/1200/800?&blur=4.2">
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">$350M</h4>
        <p>in annual revenue</p>
      </li>
      <li class="timeline-item">
        <p>Cardiff, Wales-based <strong>ChandlerKBS</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Bay Area K-12 PM/CM firm <strong>RGMK</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Offices added in <strong>Concord, CA</strong>; <strong>Vancouver, BC</strong>; <strong>Belfast, Ireland</strong>; <strong>Cardiff</strong> and <strong>Exeter, UK</strong>; <strong>Dusseldorf</strong> and <strong>Munich, Germany</strong>; <strong>Hilversum, Netherlands</strong>; and <strong>Paris, France</strong></p>
      </li>
      <li class="timeline-item">
          <p>Client engagements initiated with <strong>Berklee College of Music</strong>, <strong>Draft Kings</strong>, <strong>AstraZeneca</strong>, and <strong>Tesla </strong></p>
          <img src="https://picsum.photos/1200/800?&blur=4.1">
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">2,000</h4>
        <p>team members</p>
      </li>
      <li class="timeline-item">
        <p>Miami, FL-based<strong> Amicon Management</strong> & Boca Raton, FL-based <strong>Zimmer Construction Consultants</strong> joined Cumming Group </p>
      </li>
      <li class="timeline-item">
        <p>Texas PM/CM provider <strong>Gallagher</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Nationwide project controls provider <strong>PCM Consulting</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Waco, TX-based <strong>Intrepid Group</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>NYC-based <strong>Zubatkin Owner Representation</strong> joined Cumming Group</p>
      </li>      
      <li class="timeline-item">
        <p>Offices added in <strong>Houston</strong>, <strong>Waco</strong>, and <strong>Richardson, TX</strong>; <strong>West Palm Beach</strong> and <strong>Boca Raton</strong>, FL; <strong>Bend, OR</strong>; <strong>Oslo, Norway</strong>; <strong>Milan, Italy</strong>; and <strong>Zurich, Switzerland</strong></p>
      </li>
      <li class="timeline-item">
        <p>Work initiated with <strong>Princeton University</strong>, <strong>Gucci</strong>, the <strong>Miami Country Day School</strong>, and <strong>Live Nation Entertainment</strong></p>
        <img src="https://picsum.photos/1200/800?&blur=4">
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">$600M</h4>
        <p>in annual revenue</p>
      </li>
      <li class="timeline-item">
        <p><strong>Atlantic State Advisors (ASA)</strong>, with offices in NY and FL, joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>International retail PM firm <strong>The Ridgway Group</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>UK-based <strong>CLoSE UK</strong> joined Cumming Group</p>
      </li>
      <li class="timeline-item">
        <p>Global Infrastructure provider <strong>BTTC</strong> joined Cumming Group’s UK/Europe team</p>
      </li>
      <li class="timeline-item">
        <p>Offices added in <strong>Birmingham</strong>, <strong>Buckingham</strong>, and <strong>Chesterfield, UK</strong>, and <strong>Toronto, Canada</strong></p>
      </li>
      <li class="timeline-item">
        <p>Work began with the <strong>New York Institute of Technology</strong>, <strong>Ronald McDonald House</strong>, <strong>Visa</strong>, <strong>Duke University</strong>, and <strong>Pfizer</strong></p>
      </li>
      <li class="timeline-item">
        <h4 class="type-standout">#10</h4>
        <p>on Engineering News-Record’s annual ranking of the top 100 project/construction management firms in the U.S.</p>
      </li>
    </ol>
  </div>