<div class="menu">
  <button class="button unset" aria-haspopup="true" aria-expanded="false">Menu</button>
  <div aria-hidden="true" role="menu">
    <button role="menuitem">Upload</button>
    <button role="menuitem">Bookmark</button>
    <button role="menuitem">Submit</button>
    <button role="menuitem">Search</button>
  </div>
</div>