<nav aria-label="pagination" class="pagination cluster">
  <span class="previous button icon mini align-only disabled">
    <span>Previous page</span>
    <svg width="800" height="800" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
      <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </span>
  <ul role="list" class="cluster" aria-label="pagination">
    <li><a href="/events/page/1/" class="button mini hollow rounded" aria-current="page"><span class="visually-hidden">page</span> 1</a></li>
    <li><a href="/events/page/2/" class="button mini hollow rounded"><span class="visually-hidden">page</span> 2</a></li>
    <li><a href="/events/page/3/" class="button mini hollow rounded"><span class="visually-hidden">page</span> 3</a></li>
    <li><a href="/events/page/4/" class="button mini hollow rounded"><span class="visually-hidden">page</span> 4</a></li>
    <li><span class="type-detail ellipsis">&#8230;</span></li>
    <li><a href="/events/page/9/" class="button mini hollow rounded"><span class="visually-hidden">page</span> 9</a></li>
    <li><a href="/events/page/10/" class="button mini hollow rounded"><span class="visually-hidden">Page</span> 10 <span class="visually-hidden">(Last Page)</span></a></li>
  </ul>
  <a href="#next" class="next button icon mini align-only">
    <span>Next page</span>
    <svg width="800" height="800" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
</nav>
