{#
  Title: Affiliate
  Description: Information block for Cumming Group affiliate companies
  Category: cg-component
  Icon: admin-site
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="affiliate">
  <div class="sidebar">
    {% if fields.logo %}
    {% set logo = get_image(fields.logo) %}
    <span class="thumb">
      <a href="{{ fields.link }}"><img src="{{ logo.src }}" height="auto" alt="{{ fields.name ?? logo.alt }}"></a>
    </span>
    {% endif %}
    <div class="flow body">
      <p>{{ fields.description }}</p>
    </div>
  </div>
</div>