{#
  Title: Featured Post
  Description: Embedded treatment for any post type
  Category: cg-component
  Icon: embed-post
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
{% set feature = get_post( block.data.featured_post ) %}
{% set override = block.data %}
<div class="{{ classes }}">
  {% include template_list( feature, 'card') with { 
      thumbnail : override.thumbnail,
      eyebrow   : override.eyebrow,
      title     : override.title, 
      subhed    : override.subhed,
      excerpt   : override.excerpt,
      layout    : override.layout
  } %}
</div>
