{#
  Title: Logo Cluster
  Description: Centered grid of logos
  Category: cg-component
  Icon: format-gallery
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="region">
<div class="logo-cluster">
  {% for image in fields.logos %}
  <span>
    <img 
      src="{{ image.url }}"
      height="{{image.height}}"
      width="{{image.width}}"
      alt="{{image.alt}}"
      loading="lazy">
  </span>
  {% endfor %}
</div>
</div>