<div class="section-header region">
  <h2 class="type-eyebrow hed-hatch" id="hed">{{ heading }}</h2>
  <div class="repel">
    <div>
    {{ body|markdown}}
    </div>
    {% if cta %}
    <a href="{{ cta.href }}" class="type-detail icon-post-chevron">{{ cta.text }}</a>
    {% endif %}
  </div>
</div>